<nz-spin [nzSpinning]="spin">
  <div>
    <tpl-buttons formId="form_waybill_filing" [btnHiden]="{'copyBales':true,'addBales':true,
                         'delete':true,'Return':operateType =='add','Use':operateType =='update'}"
                 [btnDisable]="{'insert':btnClick }" (btnClick)="btnClickFun($event)">
    </tpl-buttons>
  </div>
  <div nz-row class="waybill-add-box">
    <div nz-col nzSpan="12">
      <nz-card>
        <form nz-form nzLayout="inline" style="height: 330px">
          <div nz-row [nzGutter]="{ xs: 9, md: 15, lg: 24, xl: 32 }" nzType="flex" nzAlign="bottom">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzSpan="9">运单号</nz-form-label>
                <nz-form-control nzSpan="15">
                  <input type="text" nz-input [(ngModel)]="waybill.waybillNo" name="waybillNo" placeholder="系统生成"
                         disabled="true">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzSpan="9" nzRequired>装载时间</nz-form-label>
                <nz-form-control nzSpan="15">
                  <nz-date-picker nzShowTime [(ngModel)]="waybill.loadDate" name="loadDate"
                                  nzFormat="yyyy-MM-dd HH:mm:ss"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzSpan="9" nzRequired>客户名称</nz-form-label>
                <nz-form-control nzSpan="15">
                  <input-modal [DISABLED]="Disabled" [(inputModalModel)]="waybill.consignorCompanyName"
                               [findset]="{formId:'company_pop',name:'客户名称',parameter:'companyName',parameterSend:'companyId'}"
                               (inpEmit)="setPopSelectedValueId($event, 'consignorCompanyId')"></input-modal>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzSpan="9" nzRequired>运输车队</nz-form-label>
                <nz-form-control nzSpan="15">
                  <input-modal [DISABLED]="Disabled" [(inputModalModel)]="waybill.carrierCompanyName"
                               [findset]="{formId:'company_pop',name:'运输单位',parameter:'companyName',parameterSend:'companyId'}"
                               (inpEmit)="setPopSelectedValueId($event, 'carrierCompanyId')"></input-modal>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzSpan="9" nzRequired>运输方式</nz-form-label>
                <nz-form-control nzSpan="15">
                  <app-select [disabled]="Disabled" [apiParam]="flowApi" [(ngModel)]="waybill.flowId" name="flowId"></app-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzSpan="9" nzRequired>装货地</nz-form-label>
                <nz-form-control nzSpan="15">
                  <input-modal [DISABLED]="Disabled" [(inputModalModel)]="waybill.startLocationName" insertType='address'
                               [findset]="{url:'point',formId:'point_pop',name:'装货地',parameter:'address',parameterSend:'locationId'}"
                               (inpEmit)="setPopSelectedValueId($event, 'startPoint')"></input-modal>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzSpan="9" nzRequired>收货地址</nz-form-label>
                <nz-form-control nzSpan="15">
                  <input-modal [DISABLED]="Disabled" [(inputModalModel)]="waybill.endLocationName" insertType='address'
                               [findset]="{url:'point',formId:'point_pop',name:'收货地址',parameter:'address',parameterSend:'locationId'}"
                               (inpEmit)="setPopSelectedValueId($event, 'endPoint')"></input-modal>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzSpan="9">单价</nz-form-label>
                <nz-form-control nzSpan="15">
                  <nz-input-number [(ngModel)]="waybill.unitPrice" name="unitPrice" [nzMin]="0.01"
                                   [nzStep]="1"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzSpan="9" nzRequired>业务板块</nz-form-label>
                <nz-form-control nzSpan="15">
                  <app-select [disabled]="Disabled"  [apiParam]="businessTypeApi" [(ngModel)]="waybill.businessType"
                              name="businessType" (ngModelChange)="ngModelChange()"></app-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12" style="text-align: right;line-height: 40px;">
              <div style="display: inline-block;margin-right:5px;">
                <label nz-checkbox [(ngModel)]="waybill.statusBoolean" name="statusBoolean">是否已返单</label>
              </div>
              <div style="display: inline-block;">
                <label nz-checkbox [(ngModel)]="waybill.isSettleBoolean" name="isSettleBoolean">是否参与结算</label>
              </div>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzSpan="9" nzRequired>发货通知单号</nz-form-label>
                <nz-form-control nzSpan="15">
                  <input type="text" nz-input [(ngModel)]="waybill.mainProductListNo" name="mainProductListNo">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzSpan="9">载重标记</nz-form-label>
                <nz-form-control nzSpan="15">
                  <nz-radio-group [(ngModel)]="waybill.weight" name="weight">
                    <label nz-radio nzValue="ZZBJ10">大载</label>
                    <label nz-radio nzValue="ZZBJ20">标载</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzSpan="9" nzRequired>支付方式</nz-form-label>
                <nz-form-control nzSpan="15">
                  <nz-select [(ngModel)]="waybill.isBicycleSettle" name="payType">
                    <nz-option *ngFor="let i of payTypeList" [nzLabel]="i.name" [nzValue]="i.value"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzSpan="9">备注</nz-form-label>
                <nz-form-control nzSpan="15">
                  <input type="text" nz-input [(ngModel)]="waybill.remark" name="remark">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzSpan="9">结算单位</nz-form-label>
                <nz-form-control nzSpan="15">
                  <input-modal [(inputModalModel)]="waybill.settleCompanyName"
                               [findset]="{formId:'settle_company_pop',name:'结算单位',parameter:'settleCompanyName',parameterSend:'settleCompanyId',url:'transSettleCompany'}"
                               (inpEmit)="dcjsInputModal($event)"></input-modal>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
      </nz-card>

    </div>
    <div nz-col nzSpan="12" style="padding-left:5px">
      <nz-card>
        <div nz-row>
          <div nz-col nzSpan="10" style="padding-right:5px;">
            <form nz-form [nzLayout]="'inline'">
              <div nz-row [nzGutter]="{ xs: 8, md: 8, lg: 16, xl: 24 }">
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-label nzSpan="8">驾驶员</nz-form-label>
                    <nz-form-control nzSpan="16">
                      <input-modal [(inputModalModel)]="driver.driverName" [extraParam]="extraParam"
                                   [findset]="{formId:'form_waybill_filing',gridId:'driverInputMdal',name:'司机',parameter:'driverName',parameterSend:'userId',url:'selectDriverData'}"
                                   (inpEmit)="driverInputModal($event)">
                      </input-modal>
                      <!--                    <input type="text" nz-input [(ngModel)]="driver.driverName" name="driverName">-->
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-label nzSpan="8">司机电话</nz-form-label>
                    <nz-form-control nzSpan="16">
                      <input type="text" nz-input [(ngModel)]="driver.driverTel" name="driverTel">
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-label nzSpan="8">车牌号</nz-form-label>
                    <nz-form-control nzSpan="16">
                      <input type="text" nz-input [(ngModel)]="driver.vehicleNo" name="vehicleNo">
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-label nzSpan="8">趟次</nz-form-label>
                    <nz-form-control nzSpan="16">
                      <input type="text" nz-input [(ngModel)]="driver.tripNo" name="tripNo" (keyup.enter)="addDriver()">
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="24" style="text-align: right">
                  <button nz-button nzType="default" (click)="addDriver()">保存</button>
                </div>
              </div>
            </form>
          </div>
          <div nz-col nzSpan="14" class="box">
            <button nz-button nzType="default" (click)="deleteDriver()" style="margin-bottom:5px;">删除</button>
            <app-table-form [formId]="formId" gridId="driver" [dataSet]="driverData" tabIndex="1" [isMutli]="true"
                            [colSet]="true" [nzShowPagination]="false"
                            selfTableHeight="220px"></app-table-form>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
  <div nz-row>
    <tpl-buttons formId="form_waybill_filing" [btnHiden]="{'Use':true,'insert':true,'Return':true}"
                 (btnClick)="btnClickFun($event)">

    </tpl-buttons>
  </div>
  <app-table-form [formId]="formId" gridId="waybillPack" [dataSet]="packData" tabIndex="1" [isMutli]="true"
                  [colSet]="true" [nzShowPagination]="false"
                  (userColumnsEmit)="columns($event)" [extraTableHeight]="476">

  </app-table-form>
</nz-spin>

<nz-modal class="waybilladdModal" [(nzVisible)]="isVisible" nzTitle="使用合同" [nzFooter]="modalFooter"
          (nzOnCancel)="nzOnCancel()" nzWidth="70%" [nzMaskClosable]="false">
  <app-searchform [formId]="'form_filing_model'" (search)="modalListSearch($event)">

  </app-searchform>

  <tpl-buttons [formId]="'form_filing_model'" (btnClick)="modalBtnClick($event)" [btnDisable]="tplModal">

  </tpl-buttons>
  <app-table-form [isMutli]="false" [formId]="'form_filing_model'" [dataSet]="modalDataSet"
                  [listLoading]="modalListLoading" [pageSize]="modalPageSize"
                  [totalPage]="modalTotalPages" (updateDataResult)="modalUpdateDatafun($event)">

  </app-table-form>

  <ng-template #modalFooter>
  </ng-template>
</nz-modal>
