<app-searchform (search)="listSearch($event)" [triggerSearch]="true"></app-searchform>
<tpl-buttons (btnClick)='btnClick($event)'></tpl-buttons>

<div>
  <app-table-form [dataSet]="dataSet"
                  [pageSize]="pageSize" [totalPage]="totalPages"
                  [isMutli]="true" [listLoading]="listLoading"
                  [isCheckBox]="true" [showCount]="true" class="waybill_ledger"
                  (updateDataResult)="selectData($event)" [paginationRef]="totalStats">

  </app-table-form>
  <ng-template #totalStats>
   已选总重量:{{totalWeight | number}}吨 已选应收总金额:{{totalNum | number}}元  已选应付总金额:{{totalPayNum | number}}元
  </ng-template>
</div>

<!--数据弹出框-->
<nz-modal [(nzVisible)]="modalFormVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()" [nzMaskClosable]="false" >
  <form nz-form [formGroup]="modalValidateForm">
    <nz-form-item *ngFor="let m of modalFormData">
      <nz-form-control [nzSpan]="23">
        <nz-form-label [nzSpan]="8" [nzRequired]="m.require">
          {{m.name}}
        </nz-form-label>

        <nz-form-control [nzSpan]="15">
          <input *ngIf="m.type == 'text'" type="{{m.type}}" nz-input formControlName="{{m.eName}}" [attr.id]="m.eName">

          <input-modal [DISABLED]="true" *ngIf="m.type == 'model'" [findset]="m.findset"
                       [inputModalModel]="carrierCompanyName"
                       [inputModalHiddenValue]="carrierCompanyId" [validate]="m.validate"></input-modal>

          <nz-input-number style="width: 100%;" *ngIf="m.type ==='number'" formControlName="{{m.eName}}"
                           [nzMin]="0"></nz-input-number>

          <nz-upload *ngIf="m.type ==='pic'" [nzAction]="upload.action" class="return-pic"
                     [nzCustomRequest]='upload.handleRequest' [(nzFileList)]="returnPicList"
                     nzListType="picture-card" [nzPreview]="handlePreview" [nzData]="upload.handleData"
                     (nzChange)="handleChange($event)">
            <i class="anticon anticon-plus"></i>
            <div class="ant-upload-text">上传</div>
          </nz-upload>

          <nz-form-explain *ngIf="modalValidateForm.get(m.eName).dirty && modalValidateForm.get(m.eName).errors">
            <ng-container *ngIf="modalValidateForm.get(m.eName).hasError('required')">
              {{m.validateCon}}
            </ng-container>
            <ng-container *ngIf="modalValidateForm.get(m.eName).hasError('pattern')">
              {{m.validators.patternErr}}
            </ng-container>

          </nz-form-explain>

        </nz-form-control>

      </nz-form-control>
    </nz-form-item>

  </form>
</nz-modal>

<ng-template #updateConsigneeRef>
  <form nz-form>
    <nz-form-item nzFlex>
      <nz-form-label [nzSpan]="8" [nzRequired]="true">收货单位</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <input-modal (inpEmit)="inpEmit($event)" [findset]="updateConsigneeFindset" [extraParam]="{settleType:'JSLX10'}"></input-modal>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>

<ng-template #tplTitle1>
  <span>{{modalTitle}}</span>
</ng-template>
<ng-template #tplContent1>
  <form nz-form [formGroup]="validateForm">
    <nz-form-item *ngFor="let m of modalFormDataImport"  [hidden]="m.hidden">
      <nz-form-label [nzSpan]="6" [nzRequired]="true">
        {{m.name}}
      </nz-form-label>

      <nz-form-control [nzSpan]="12">
        <input type="{{m.type}}" nz-input formControlName="{{m.eName}}" [attr.id]="m.eName" *ngIf="m.type == 'text'" (click)="selectFile()" [readOnly]="m.readOnly">
        <input type="{{m.type}}" nz-input formControlName="{{m.eName}}" [attr.id]="m.eName" *ngIf="m.type == 'file'" #fileInput  (change)="fileChange($event)">
        <nz-form-explain *ngIf="validateForm.get(m.eName).dirty && validateForm.get(m.eName).errors">
          <ng-container *ngIf="validateForm.get(m.eName).hasError('required')">
            {{m.validateCon}}
          </ng-container>
          <ng-container *ngIf="validateForm.get(m.eName).hasError('pattern')">
            {{m.validators.patternErr}}
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
      <nz-form-control [nzSpan]="4" style="margin-left: 20px">
        <a (click)="aClick()">模板下载</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
<ng-template #tplFooter1>
  <button nz-button nzType="default" (click)="handleCancel1()" [disabled]="  implistLoading1">取消</button>
  <button nz-button nzType="primary" (click)="importConfirm()" [nzLoading]="implistLoading1" [disabled]="implistLoading1">确定</button>
</ng-template>
