<form nz-form class="ant-advanced-search-form b-t search-form clearfix" [hidden]="searchFormHidden" *ngIf="findObj.buttonId === 'Find'">
    <ng-container *ngFor="let control of controlArray;let dex=index;">
        <!---如果queryBoxType类型未定义隐藏，searchDataHiden是个对象 设置对应的parameter属性值true隐藏---->
        <div class="fl clearfix" [hidden]="!control.queryBoxType || searchDataHiden[control.parameter]" [ngStyle]="{'width':control.queryBoxType=='date' && control.query === '介于'?'50%':'25%'}">
            <label class="search-checkbox fl" [hidden]="!checkBoxVisible" nz-checkbox  [(ngModel)]="control.checkBox" [ngModelOptions]="{standalone: true}"></label>
            <div class="clearfix fl search-input-label" [title]="control.name">
                <span>{{control.name}} :</span>
            </div>
            <div class="fl search-input-group clearfix" [ngSwitch]="control.queryBoxType">
            <nz-select class="search-query" [(ngModel)]="control.query" [ngModelOptions]="{standalone: true}" style="display:none">
                <nz-option nzCustomContent  *ngFor="let o of searchOptionsArr" [nzLabel]="o.name" [nzValue]="o.value">
                    <p class="m-re" title="{{o.name}}">{{o.name}}</p>
                </nz-option>
            </nz-select>
             <!--数字-->
                <ng-template [ngSwitchCase]="'number'">
                    <app-input-number class="number-input fl" (ngModelChange)="searchModelChange($event,control)" [(ngModel)]="control.value1" [name]="control.parameter"></app-input-number>
                    <app-input-number class="number-input-last fl" style="margin-left:4px;" (ngModelChange)="searchModelChange($event,control)"  [hidden]="control.query !== '介于'"  [(ngModel)]="control.value2" [name]="control.parameter2"></app-input-number>
                </ng-template>
            <!--文本-->
                <ng-template [ngSwitchCase]="'string'">
                <input nz-input autocomplete="off" class="first-input1" (ngModelChange)="searchModelChange($event,control)" [(ngModel)]="control.value1" [name]="control.parameter">
                <input nz-input autocomplete="off" style="margin-left:4px;" (ngModelChange)="searchModelChange($event,control)"  [hidden]="control.query !== '介于'" class="search-input-right"  [(ngModel)]="control.value2" [name]="control.parameter2">
                </ng-template>
                <!--日期-->
                <ng-template [ngSwitchCase]="'date'">
                <nz-date-picker [nzStyle]="{width:'100%'}" [nzShowTime]="control.format !== 'yyyy-MM-dd'" [nzPlaceHolder]="control.query === '介于'?'开始日期':'日期'" [nzFormat]="control.format || 'yyyy-MM-dd HH:mm:ss'" [nzDisabledDate] = "disabledDate(control,1)"
                class="fl search-date single-date1" (ngModelChange)="searchModelChange($event,control)" [(ngModel)]="control.value1" [name]="control.parameter"></nz-date-picker>
                <nz-date-picker [nzStyle]="{width:'166px'}" [nzShowTime]="control.format !== 'yyyy-MM-dd'" [hidden]="control.query !== '介于'" nzPlaceHolder="结束日期" [nzFormat]="control.format || 'yyyy-MM-dd HH:mm:ss'" [nzDisabledDate] = "disabledDate(control,2)"
                class="fl last-date" (ngModelChange)="searchModelChange($event,control)" [(ngModel)]="control.value2" [name]="control.parameter2"></nz-date-picker>
                </ng-template>
                <!--条件下拉框-->
                <ng-template [ngSwitchCase]="'select'">
                <nz-select class="search-select" (ngModelChange)="searchModelChange($event,control)" [(ngModel)]="control.value1" [name]="control.parameter" nzAllowClear>
                    <nz-option *ngFor="let s of control.apiParameter.optionList" [nzLabel]="s.name" [nzValue]="s.value"></nz-option>
                </nz-select>
                </ng-template>
                <!--数据下拉框-->
                <ng-template [ngSwitchCase]="'pop'">
                  <input-modal class="fl search-pop" (ngModelChange)="searchModelChange($event,control)"  [isMutli]=false [findset]="control.apiParameter" (inpEmit)="selectedData($event,control)" [(inputModalModel)]="control.value1" ></input-modal>
                </ng-template>
                <!--单选按钮-->
                <ng-template [ngSwitchCase]="'radio'">
                    <nz-radio-group (ngModelChange)="searchModelChange($event,control)" [(ngModel)]="control.value1" [name]="control.parameter" nzButtonStyle="solid" nzSize="small">
                        <label *ngFor="let option of control.apiParameter.optionList" nz-radio-button [nzValue]="option.value">{{ option.label }}</label>
                    </nz-radio-group>
                </ng-template>
            </div>
            <nz-select [(ngModel)]="control.postQuery" class="post-query" [ngModelOptions]="{standalone: true}" style="display:none">
                <nz-option [nzLabel]="'且'" [nzValue]="'且'"></nz-option>
                <nz-option [nzLabel]="'或'" [nzValue]="'或'"></nz-option>
            </nz-select>
        </div>
        <ng-container *ngIf="(dex+1) === controlArray.length && suffixTemplate">
            <ng-template [ngTemplateOutlet]="suffixTemplate"></ng-template>
        </ng-container>
        <ng-container *ngIf="(dex+1) === controlArray.length" [ngTemplateOutlet]="searchBtnTpl"></ng-container>
    </ng-container>
    <ng-container *ngIf="!controlArray[0]" [ngTemplateOutlet]="searchBtnTpl"></ng-container>
</form>

<ng-template #searchBtnTpl>
    <div class="searchBtnBox" style="float:right;">
        <button nz-button type="submit" [nzType]="'primary'" nzSize="small" (click)="listSearch()" class="button-reset m-l m-r" nzGhost>
          <a class="btn-icon">
            <img src="http://another2.oss-cn-hangzhou.aliyuncs.com/icon/查询.svg">
          </a>
          查询
        </button>
        <button nz-button type="button" [hidden]="btnHiden['reset']" [nzType]="'primary'" nzSize="small" (click)="resetForm()" class="button-reset m-r" nzGhost>
          <a class="btn-icon">
            <img src="http://another2.oss-cn-hangzhou.aliyuncs.com/icon/重置.svg">
          </a>
          重置
        </button>
        <app-muti-search [formId]="formId" [hidden]="btnHiden['mutiSearch']" size="small" style="font-size:12px;"></app-muti-search>
    </div>
</ng-template>
