
<div class="body-content">
  <app-home-page-header></app-home-page-header>

  <div class="first-content">
    <!--<div style="width:100%;box-sizing: border-box;">-->
      <div style="width:80%;box-sizing: border-box;text-align: left;margin: auto">
        <div class="big-title" style="text-align: left">京创智汇</div>

        <img src="../../../assets/static/jcPicture.png" class="picture">
        <div class="introduce">
          成立于2017年，公司致力于为有大
          宗商品物流需求的客户提供信息化
          的工作平台，帮助客户完成招标询
          价、合同签订、运输全过程的引导
          和监控、资金结算等工作。目前平
          台主要货方客户有日照钢铁、五矿
          营钢中板有限责任公司、衡水京华
          制管有限公司。
          <div style="margin-top: 37px;color: #090909;font-size: 20px;">
            公司主要产品
          </div>
          <div style="margin-top: 11px;color:#999999;font-size:18px">
            汇好运物流平台  汇好运APP
          </div>
          <div style="margin-top: 37px;color: #090909;font-size: 20px;">
            产品地址
          </div>
          <div style="margin-top: 11px;color:#999999;font-size:18px">
            www.jczh56.com
          </div>
          <img src="../../../assets/static/01.png" class="logo1">
        </div>
      <!--</div>-->
    </div>

    <div style="width: 80%;padding-top:107px;margin:0 auto">
        <img src="../../../assets/static/02.png" class="logo2">
        <div class="bg02">
            <div style="margin-left: 114px;">
                <img src="../../../assets/static/yun.png" style="width: 40px;height:30px;">
                <div class="yun-title">
                  愿景
                </div>
                <div class="yun-sub-title">
                  局部到整体
                </div>
                <div class="yun-sub-title2">
                  从局部应用，到物流整体解决方案
                </div>
                <div class="yun-sub-title">
                  互联到一站
                </div>
                <div class="yun-sub-title2">
                  从生态链互联，到一站式物流服务平台
                </div>
                <div class="yun-sub-title">
                  数据到智慧
                </div>
                <div class="yun-sub-title2">
                  从物联网、云计算、大数据、到智慧物流
                </div>

                <img src="../../../assets/static/yun.png" class="yun">
                <div class="yun-title">
                  使命
                </div>
                <div class="yun-sub-title">
                  大道至简
                </div>
                <div class="yun-sub-title2">
                  唯以创新与智慧
                </div>

                <img src="../../../assets/static/yun.png" class="yun">
                <div class="yun-title">
                  价值观
                </div>
                <div class="yun-sub-title">
                  诚信 共赢
                </div>

            </div>
        </div>
        <img src="../../../assets/static/3circle.png" style="width: 70%;height: 80%;margin-left:456px;margin-top:-1280px">
    </div>

    <div style="width: 80%;margin:0 auto">
      <div style="margin-top: 50px;color: #221815;font-size:21px;font-weight:bold;">
        企业文化
      </div>
      <div class="qiyewenhua">
        <div class="fuwu">
          <div style="text-align: center;padding-top:95px ;">
            <div style="color: #999999;font-size: 18px;">服务</div>
            <div style="color:#999999;font-size: 12px;">诚信优质的服务以客户至上</div>
          </div>
        </div>
        <div class="chuangxin">
          <div style="text-align: center;padding-top:95px ;">
            <div style="color: #999999;font-size: 18px;">创新</div>
            <div style="color:#999999;font-size: 12px;">创新的思维改变物流工作方式</div>
          </div>
        </div>
        <div class="tiaozhan">
          <div style="text-align: center;padding-top:95px ;">
            <div style="color: #999999;font-size: 18px;">挑战</div>
            <div style="color:#999999;font-size: 12px;">
              挑战的精神<br>
              迎接互联网物流新的时代
            </div>
          </div>
        </div>
        <div class="gaoxiao">
          <div style="text-align: center;padding-top:95px ;">
            <div style="color: #999999;font-size: 18px;">高效</div>
            <div style="color:#999999;font-size: 12px;">高效工作符合时代脚步</div>
          </div>
        </div>
        <div class="chengzhang">
          <div style="text-align: center;padding-top:95px ;">
            <div style="color: #999999;font-size: 18px;">成长</div>
            <div style="color:#999999;font-size: 12px;">
              专业的团队共享共赢<br>
              创造美好的未来
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div class="second-content">
    <div style="width: 80%; margin:0 auto">
      <div style="padding-top:122px; color: #221815; font-size:21px; font-weight:bold;">
        联系我们
      </div>
      <div style="margin-top: 35px;">
        <div class="ywlx">
          <img src="../../../assets/static/nywlx.png" style="width: 20px;height:19px">
          <div style="margin-left:30px ;margin-top: -20px;font-size:16px;color:#333333">业务联系：021-61231318*8023</div>
        </div>
        <div class="zpyx">
          <img src="../../../assets/static/nzpyx.png">
          <div style="margin-left:30px ;margin-top: -25px;font-size:16px;color:#333333">招聘邮箱：2983416195@qq.com</div>
        </div>
        <div class="lxdh">
          <img src="../../../assets/static/nlxdh.png">
          <div style="margin-left:30px ;margin-top: -20px;font-size:16px;color:#333333">联系电话：400-133-5656</div>
        </div>
      </div>
      <div id="container" class="map"></div>
    </div>
  </div>



  <app-home-page-footer></app-home-page-footer>
</div>

