<app-searchform (search)="listSearch($event)"></app-searchform>
<tpl-buttons (btnClick)="btnclick($event)"></tpl-buttons>
<app-table-form [pageFun]='true' (pageIndexEmit)='getPageIndex($event)' (pageSizeEmit)='getPageSize1($event)' gridId='grid1'  [dataSet]="dataSet"
                [pageSize]="pageSize" (updateDataResult)="updateDataResult($event)" [totalPage]="totalPage" [isMutli]="true" [listLoading]="loading"
                [trSelectedShow]="true" [showCount]="true" [caculateEnameArr]="caculateEnameArr"></app-table-form>
