<div nzType="flex" nzJustify="center" nzAlign="middle" style="padding-top: 30px">
  <form nz-form>
    <nz-form-item nzFlex="true" nzJustify="space-around" nzAlign="middle">
      <nz-form-label [nzSpan]="4" nzFor="email">平台公司ID</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <input nz-input name="platformManagementCompanyID" type="text" [(ngModel)]="platformManagementCompanyID"
               disabled>
      </nz-form-control>

      <nz-form-label [nzSpan]="4" nzFor="email">平台公司名称</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <input nz-input name="platformManagementCompanyName" type="text" [(ngModel)]="platformManagementCompanyName">
      </nz-form-control>

      <div nz-col [nzSpan]="3" nzOffset="1">
        <button nz-button>选择</button>
      </div>

    </nz-form-item>


  </form>
</div>


<div nz-row nzType="flex" nzJustify="center" nzAlign="middle">

  <div nz-col nzSpan="8">

    <nz-table #selectedPermission [nzScroll]="{y: '100px' }" [nzData]="selectedPermissionData"
              [nzShowPagination]="false" nzSize="small" nzTitle="平台管理公司">

      <thead>

      <tr>
        <th nzShowCheckbox [(nzChecked)]="allChecked1" [nzIndeterminate]="indeterminate1"
            (nzCheckedChange)="checkAll1($event)"></th>
        <ng-container *ngFor="let user of userHeaderData">
          <th [title]="user.cName">{{user.cName}}</th>
        </ng-container>
      </tr>

      </thead>

      <tbody>

      <tr *ngFor="let data of selectedPermission.data">
        <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus1(data)"></td>
        <ng-container *ngFor="let user of userHeaderData">
          <td [title]="data[user.eName]">
            <span>{{ data[user.eName]}}</span>
          </td>

        </ng-container>
      </tr>

      </tbody>

    </nz-table>

  </div>

  <div nz-col nzSpan="2">

    <div nz-row nzType="flex" nzJustify="center">

      <div nz-col>
        <button nz-button (click)="remove()"> ></button>
      </div>

    </div>
    <div nz-row nzType="flex" nzJustify="center" style="margin-top: 20px">

      <div nz-col>
        <button nz-button (click)="add()"> <</button>
      </div>

    </div>

  </div>

  <div nz-col nzSpan="8">

    <nz-table [nzScroll]="{y: '100px' }" #notChoosePermissions [nzData]="unselectedPermissionData"
              [nzShowPagination]="false" nzSize="small" nzTitle="未授权公司">

      <thead>

      <tr>
        <th nzShowCheckbox [(nzChecked)]="allChecked2" [nzIndeterminate]="indeterminate2"
            (nzCheckedChange)="checkAll2($event)"></th>
        <ng-container *ngFor="let user of userHeaderData">
          <th [title]="user.cName">{{user.cName}}</th>
        </ng-container>
      </tr>

      </thead>

      <tbody>

      <tr *ngFor="let data of notChoosePermissions.data">
        <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus2(data)"></td>
        <ng-container *ngFor="let user of userHeaderData">
          <td [title]="data[user.eName]">
            <span>{{ data[user.eName]}}</span>
          </td>

        </ng-container>
      </tr>

      </tbody>

    </nz-table>

  </div>
</div>

<div nz-row>
  <div nz-col [nzPull]="1" [nzSpan]="24" style="text-align: right;padding-top: 20px">
    <button nz-button [nzType]="'primary'" (click)="submitForm()">确定</button>
    <button nz-button style="margin-left: 20px" (click)="cancel()">取消</button>
  </div>
</div>
