<!--<app-searchform (search)="searchList($event)"></app-searchform>-->
<div>
  <form nz-form [formGroup]="validateForm">
    <div nz-row nzType="flex" [nzGutter]="1">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzSpan]="5">出库单号</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input  disabled="true" formControlName="outWsNo" placeholder="系统生产">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired>出库时间</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-date-picker  [nzFormat]="'yyyy-MM-dd'" formControlName="outWsTime"></nz-date-picker>
          </nz-form-control>
          <nz-form-explain style="margin-left: 30%"
                           *ngIf="validateForm.get('outWsTime').dirty && validateForm.get('outWsTime').errors">
            <ng-container *ngIf="validateForm.get('outWsTime').hasError('required')">
              请选择入库时间
            </ng-container>
          </nz-form-explain>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" >操作班组</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input formControlName="operTeam">
          </nz-form-control>

        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label  [nzSpan]="5">理货人</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-select
              nzShowSearch
              nzAllowClear
              formControlName="operUser"
              (nzOnSearch)="selectSearch($event)"
              (nzOpenChange)="selectOpen($event)"
              (nzScrollToBottom)="loadMore()">
              <ng-container *ngFor="let item of userDataArr">
                <nz-option [nzLabel]="item.name" [nzValue]="item.userId"></nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label  [nzSpan]="5">吊机工</nz-form-label>
            <nz-form-control [nzSpan]="15">
              <nz-select
                nzShowSearch
                nzAllowClear
                formControlName="craneOper"
                (nzOnSearch)="selectSearch1($event)"
                (nzOpenChange)="selectOpen1($event)"
                (nzScrollToBottom)="loadMore1()">
                <ng-container *ngFor="let item of userDataArr1">
                  <nz-option [nzLabel]="item.name" [nzValue]="item.userId"></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" >备注</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input formControlName="remark">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

  </form>
</div>
<tpl-buttons (btnClick)="btnClick($event)"  formId="form_storage_StoreOutInfo" [btnHiden]="{'Delete':false,'Save':false,'Import':false,'Add':false,'Find':true}"></tpl-buttons>
<app-table-form [dataSet]="dataSet" (updateDataResult)="updateDataResult($event)"  [isCheckBox]="true" [isMutli]="true" gridId="grid1"
                [pageSize]="pageSize1" [totalPage]="totalPage" formId="form_storage_StoreOutInfo" (modelChange)="modelChange($event)"
                [listLoading]="listLoading1">

</app-table-form>


<ng-template #tplTitle2>
  <span>{{modalTitle}}</span>
</ng-template>
<ng-template #tplContent2>
  <app-searchform (search)="searchList($event)" formId="form_storage_StoreOutInfo"></app-searchform>
  <tpl-buttons formId="form_storage_StoreOutInfo" [btnHiden]="{'Delete':true,'Save':true,'Import':true,'Add':true,'Find':false}"></tpl-buttons>
  <app-table-form [dataSet]="dataSet1" (updateDataResult)="updateDataResult1($event)" gridId="grid2" [isCheckBox]="true" formId="form_storage_StoreOutInfo" [isMutli]="true"
                  [pageSize]="pageSize1" [totalPage]="totalPage"
                  [listLoading]="listLoading1"     (pageIndexEmit)='getPageIndex1($event)' (pageSizeEmit)='getPageSize1($event)'>
  </app-table-form>
</ng-template>
<ng-template #tplFooter2>
  <button nz-button nzType="default" (click)="handleCancel()" [disabled]="  implistLoading">取消</button>
  <button nz-button nzType="primary" (click)="importConfirm2()" [nzLoading]="implistLoading"
          [disabled]="implistLoading">确定
  </button>
</ng-template>
