.selectShow{
    width: 100%;
  }
  .selectClose{
    display: none;
    position:absolute
  }
  .divShow {
    text-align: left;
  
  }
  .divClose{
    display: none;
    position:absolute
  }
  :host::ng-deep .ant-table-tbody > tr > td{
    text-align: left;
  }
  .entry-kind-modal ::ng-deep .ant-calendar-picker{
    width: 100%;
  }
  