<!--<app-searchform (search)="listSearch($event)">-->
<!--</app-searchform>-->

<tpl-buttons (btnClick)="btnClick($event)" [btnDisable]="{Save: !dataChecked[0]}" [btnLoading]="{Save: btnSaveLoading}">
</tpl-buttons>

<div nz-row nzType="flex" nzJustify="space-around" style="padding-top: 20px">
  <div nz-col nzSpan="12">
     <div style="margin-bottom: 20px">
        <nz-input-group nzSearch nzSize="small" [nzAddOnAfter]="selectedPermissionIconButton" class="margin-top-10">
           <input  nz-input placeholder="搜索，回车触发"  [(ngModel)]="searchData"
                  (keyup.enter)="selectedPermissionSearch()">
        </nz-input-group>
        <ng-template #selectedPermissionIconButton>
           <button nz-button nzSearch nzType="primary" nzSize="small"
                   (click)="selectedPermissionSearch()">
              <i nz-icon type="search"></i>
           </button>
        </ng-template>
     </div>
     <app-table-form gridId="grid1" [isMutli]="false" [pageSize]="sizeNumber" [totalPage]="totalPage" [dataSet]="data" [extraTableHeight]="59"
                      (pageSizeEmit)="pageSize($event)" (pageIndexEmit)="pageIndex($event)"
                      (updateDataResult)="selectData($event)">
     </app-table-form>
    </div>
    <div nz-col nzSpan="12" style="padding-left:5px;">
        <app-table-form gridId="grid2" [nzShowPagination]="false" [isMutli]="true" [colSet]="false" [dataSet]="rightData" (userColumnsEmit)="colName($event)" [extraTableHeight]="15">
            <ng-template #isDefault let-data>
                <nz-switch [(ngModel)]="data.isDefault" (ngModelChange)="selectDefault($event,data)" nzCheckedChildren="是" nzUnCheckedChildren="否" [nzDisabled]="!data.checked"></nz-switch>
            </ng-template>
        </app-table-form>
    </div>
</div>

