<app-searchform [triggerSearch]="true" (search)="listSearch($event)">
</app-searchform>
<tpl-buttons (btnClick)="btnClick($event)"
             [btnDisable]="{'Select':btnDis.Select,'Detail':btnDis.Detail,'Binding':btnDis.Binding,'WithDraw':btnDis.WithDraw}">
</tpl-buttons>

<app-grid-resize [gridOne]="one" [gridTwo]="two" (selfHeightResult)="gridHeight($event)">
</app-grid-resize>
<ng-template #one>
  <app-table-form (updateDataResult)="selectData($event)" [dataSet]="data1" [isMutli]="true" [listLoading]="loading"
                  [pageSize]="pageSize" [selfTableHeight]="gridOneHeight" [totalPage]="totalpage"
                  [trSelectedShow]="true" gridId="grid1">
  </app-table-form>
</ng-template>
<ng-template #two>
  <nz-tabset>
    <nz-tab nzTitle="竞价明细">
      <app-table-form (pageIndexEmit)="pageIndexEmit($event)" (pageSizeEmit)="pageSizeEmit($event)" [dataSet]="data2"
                      [isCheckBox]="false" [listLoading]="nextLoading" [pageFun]="true" [pageSize]="pageSize2"
                      [selfTableHeight]="gridTwoHeight" [showCount]="false" [totalPage]="totalpage2" gridId="grid2">
      </app-table-form>
    </nz-tab>
  </nz-tabset>
</ng-template>


<!--<ng-container>
  <ng-template #recordTitle>
    {{recordTit}}
  </ng-template>
  <ng-template #recordContent>
    <ng-container>
      <p><i nz-icon type="form" theme="outline"></i><span>竞价选择</span></p>
      <div class="clearfix">

      </div>
    </ng-container>
  </ng-template>
  <ng-template #recordFooter>
    <ng-container *ngIf="buttonId === 'bid'">
      <button nz-button nzType="primary" (click)="bidConfirm()">确定</button>
      <button nz-button nzType="default" (click)="cancel()">取消</button>
    </ng-container>
  </ng-template>
</ng-container>-->
<ng-container>
  <ng-template #recordTitle>
    {{modalTitle}}
  </ng-template>
  <ng-template #recordContent>
    <p><i nz-icon type="form" theme="outline"></i><span>选择参与竞价的承运人或司机</span></p>
    <ng-container>
      <!--<nz-radio-group [(ngModel)]="bidPriceType" class="m-b-sm">-->
      <!--<label nz-radio nzValue="10">按均价</label>
      <label nz-radio nzValue="20">分别报价</label>-->
      <label nz-checkbox [(ngModel)]="tempInfo.carriiagePrice" style="margin-right: 422px; margin-left: 20px;"
             (ngModelChange)="selectChange($event)">承运人参与竞价</label>
      <label nz-checkbox [(ngModel)]="tempInfo.driverPrice" (ngModelChange)="changeDriver($event)">司机参与竞价</label>
      <!--</nz-radio-group>-->
    </ng-container>

    <div class="clearfix">
      <!--<nz-transfer
        nzShowSearch
        [nzDataSource]="bidCompanyUser"
        [nzTitles]="['投标人查询','已选择投标人']"
        [nzListStyle]="{'width': '45%', 'height.px': 300}"
        [nzFilterOption]="dataFilter"
        [nzOperations]="['添加', '删除']"
        (nzChange)="selectedBider($event)"
        [nzRender]="render">
        <ng-template #render let-item>
          {{ item.companyName }}
        </ng-template>
      </nz-transfer>-->
      <div style="background-color:#f5f5f5;height:60px;padding:8px 0 7px 19px">
        <div style="width: 50%; float: left;">
          <ng-container>
            <nz-radio-group [(ngModel)]="bidPriceType" (ngModelChange)="carriageChuange($event)">
              <label nz-radio nzValue="10" [nzDisabled]="!tempInfo.carriiagePrice"
                     style="float: left; line-height: 28px;">全部承运人</label>
              <label nz-radio nzValue="20" [nzDisabled]="!tempInfo.carriiagePrice"
                     style="float: left; clear: left; line-height: 28px;">部分承运人</label>
              <ng-container *ngIf="bidPriceType === '20'" [ngTemplateOutlet]="carriage">
              </ng-container>
              <!--<nz-form-control class="fl selectCarriage">
                <nz-select style="width: 150px; height: 30px;" nzAllowClear [(ngModel)]="modalForm.continueTime">
                  <nz-option [nzValue]="i.value" [nzLabel]="i.name" *ngFor="let i of continueTimeArr"></nz-option>
                </nz-select>
              </nz-form-control>-->
              <!--              <nz-select class="fl selectCarriage" [nzDisabled]="!tempInfo.carriiagePrice || bidPriceType != '20'"-->
              <!--                         style="width: 200px;"-->
              <!--                         nzMode="multiple"-->
              <!--                         nzShowSearch-->
              <!--                         nzPlaceHolder=""-->
              <!--                         nzMaxTagPlaceholder=""-->
              <!--                         [nzMaxTagCount]="0"-->
              <!--                         [nzAutoClearSearchValue]="false"-->
              <!--                         [(ngModel)]="carriageOfSelectedValue"-->
              <!--              >-->
              <!--                <ng-container *ngFor="let option of bidderCompanyList">-->
              <!--                  <nz-option [nzLabel]="option.companyName" nzCustomContent [nzValue]="option.companyName"-->
              <!--                             *ngIf="isNotSelected(option.companyName,'carriage')">-->
              <!--                    <span [title]="option.companyName">{{option.companyName}}</span>-->
              <!--                  </nz-option>-->
              <!--                </ng-container>-->
              <!--              </nz-select>-->
            </nz-radio-group>
          </ng-container>
        </div>
        <div style="width: 50%; float: left;">
          <ng-container>
            <nz-radio-group [(ngModel)]="driverType" (ngModelChange)="driverChuange($event)">
              <label nz-radio nzValue="10" [nzDisabled]="!tempInfo.driverPrice" style="float: left; line-height: 28px;">全部司机</label>
              <label nz-radio nzValue="20" [nzDisabled]="!tempInfo.driverPrice"
                     style="float: left; clear: left; line-height: 28px;">部分司机</label>
              <ng-container *ngIf="driverType === '20'" [ngTemplateOutlet]="driver">
              </ng-container>
              <!--              <nz-select class="fl selectCarriage" [nzDisabled]="!tempInfo.driverPrice || driverType != '20'"-->
              <!--                         style="width: 200px;"-->
              <!--                         nzMode="multiple"-->
              <!--                         nzShowSearch-->
              <!--                         nzPlaceHolder=""-->
              <!--                         nzMaxTagPlaceholder=""-->
              <!--                         [nzMaxTagCount]="0"-->
              <!--                         [nzAutoClearSearchValue]="false"-->
              <!--                         [(ngModel)]="listOfSelectedValue"-->
              <!--              >-->
              <!--                <ng-container *ngFor="let option of driverList">-->
              <!--                  <nz-option [nzLabel]="option.name" nzCustomContent [nzValue]="option.name"-->
              <!--                             *ngIf="isNotSelected(option.name,'driver')">-->
              <!--                    <span [title]="option.name">{{option.name}}</span>-->
              <!--                  </nz-option>-->
              <!--                </ng-container>-->
              <!--              </nz-select>-->
            </nz-radio-group>
          </ng-container>
        </div>
        <!--        <div style="width: 48%; float: left; height: 124px; overflow: auto; border-right: solid 1px #eeeeee;">-->
        <!--          <div *ngFor="let name of carriageOfSelectedValue;let dex = index">-->
        <!--            <div class="clearfix">-->
        <!--              <span class="fl" style="margin-left: 20px;">{{name}}</span>-->
        <!--              <span class="fr am-icon-times-circle" (click)="delectDriver('carriage',dex)"><img width="16px;"-->
        <!--                                                                                                src="./assets/img/delect.svg"></span>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--        <div style="width: 48%; float: left; height: 124px; overflow: auto;">-->
        <!--          <div *ngFor="let name of listOfSelectedValue;let dex = index">-->
        <!--            <div class="clearfix">-->
        <!--              <span class="fl" style="margin-left: 20px;">{{name}}</span>-->
        <!--              <span class="fr am-icon-times-circle" (click)="delectDriver('driver',dex)"><img width="16px;"-->
        <!--                                                                                              src="./assets/img/delect.svg"></span>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <ng-template #carriage>
          <app-table-form selfTableHeight="200px" listWidth="437px" [colSet]="false" [tableTitle]="carriageSearch"
                          [columns]="[{colCname:'承运人',colEname:'companyName',visible:'XSBJ10'}]"
                          [dataSet]="bidderCompanyList" [isMutli]="true" [pageFun]="true" [nzShowPagination]="false"
                          [pageSize]="pageCarriageSize" [totalPage]="totalCarriagePage"
                          (selectedChangeEmit)="updateCarriageDataResult($event)"
                          (pageIndexEmit)="pageIndexCarriageEmit($event)"
                          (pageSizeEmit)="pageSizeCarriageEmit($event)"
          >
          </app-table-form>
        </ng-template>

        <ng-template #driver>
          <app-table-form selfTableHeight="200px" listWidth="437px" [colSet]="false" [tableTitle]="driverSearch"
                          [columns]="[{colCname:'司机',colEname:'name',visible:'XSBJ10'}]"
                          [dataSet]="driverList" [isMutli]="true" [pageFun]="true" [nzShowPagination]="false"
                          [pageSize]="pageDriverSize" [totalPage]="totalDriverPage"
                          (selectedChangeEmit)="updateDriverDataResult($event)"
                          (pageIndexEmit)="pageIndexDriverEmit($event)" (pageSizeEmit)="pageSizeDriverEmit($event)"
          >
          </app-table-form>
        </ng-template>
        <ng-template #carriageSearch>
          <nz-input-group nzSearch [nzAddOnAfter]="carriageSearchSuffixIconButton">
            <input type="text" nz-input [(ngModel)]="searchCarriageValue"/>
          </nz-input-group>
          <ng-template #carriageSearchSuffixIconButton>
            <button nz-button nzType="primary" nzSearch (click)="search('carriageSearch')">
              <i nz-icon nzType="search">
              </i>
            </button>
          </ng-template>

        </ng-template>
        <ng-template #driverSearch>
          <nz-input-group nzSearch [nzAddOnAfter]="driverSearchSuffixIconButton">
            <input type="text" nz-input [(ngModel)]="searchDriverValue"/>
          </nz-input-group>
          <ng-template #driverSearchSuffixIconButton>
            <button nz-button nzType="primary" nzSearch (click)="search('driverSearch')">
              <i nz-icon nzType="search">
              </i>
            </button>
          </ng-template>
        </ng-template>
      </div>

    </div>
    <p><i nz-icon type="form" theme="outline"></i><span>竞价上限和竞价时间</span></p>
    <div class="clearfix" *ngIf="info.get('USER').companyId !== 'C000000888'">
      <ng-container>
        <nz-radio-group [(ngModel)]="taxInclusive" class="m-b-sm">
          <nz-form-label class="fl">是否含税</nz-form-label>
          <label nz-radio nzValue="10" style="line-height: 40px;">含税</label>
          <label nz-radio nzValue="20" style="line-height: 40px;">不含税</label>
        </nz-radio-group>
      </ng-container>
    </div>
    <div class="clearfix">
      <div class="fl clearfix" style="width: 350px;">
        <nz-form-label class="fl" style="width: 100px; text-align: left;" *ngIf="taxInclusive == '10'">含税价格上限
        </nz-form-label>
        <nz-form-label class="fl" style="width: 100px; text-align: left;" *ngIf="taxInclusive == '20'">不含税价格上限
        </nz-form-label>
        <nz-form-control class="fl">
          <!--<input nz-input [(ngModel)]="tempInfo.ceilingPriceTax">-->
          <nz-input-number [nzMin]="0" class="day-input fl" [(ngModel)]="tempInfo.ceilingPriceTax" [nzStep]="1"
                           [nzPrecision]="3"></nz-input-number>
        </nz-form-control>
        <div class="fl ant-form-item-label">&nbsp;元/吨</div>
      </div>
      <div class="fl clearfix" style="width: 350px;">
        <nz-form-label class="fl" style="width: 100px; text-align: left;" *ngIf="taxInclusive == '10'">含税价格下限
        </nz-form-label>
        <nz-form-label class="fl" style="width: 100px; text-align: left;" *ngIf="taxInclusive == '20'">不含税价格下限
        </nz-form-label>
        <nz-form-control class="fl">
          <!--<input nz-input [(ngModel)]="tempInfo.lowerPriceTax">-->
          <nz-input-number [nzMin]="0" class="day-input fl" [(ngModel)]="tempInfo.lowerPriceTax" [nzStep]="1"
                           [nzPrecision]="3"></nz-input-number>
        </nz-form-control>
        <div class="fl ant-form-item-label">&nbsp;元/吨</div>
      </div>
    </div>
    <div class="clearfix">
      <div class="fl clearfix" style="width: 350px;">
        <nz-form-label class="fl">竞价开始时间</nz-form-label>
        <nz-form-control class="fl">
          <nz-date-picker [(ngModel)]="modalForm.executionTimeStart"
                          [nzDisabledDate]="disabledStartDate" [nzShowTime]="{nzFormat:'HH:mm'}" [nzShowToday]="false"
                          nzFormat="yyyy-MM-dd HH:mm" (ngModelChange)="getStartTime($event)"
                          nzPlaceHolder="开始">
          </nz-date-picker>
        </nz-form-control>
      </div>
      <div class="fl clearfix" style="width: 350px;">
        <nz-form-label class="fl">竞价持续时间</nz-form-label>
        <!--<nz-form-control class="fl">
          <nz-select style="width: 90px;" nzAllowClear [(ngModel)]="modalForm.continueTime">
            <nz-option [nzValue]="i.value" [nzLabel]="i.name" *ngFor="let i of continueTimeArr"></nz-option>
          </nz-select>
        </nz-form-control>-->
        <nz-form-control class="fl">
          <nz-select style="width: 90px;float: left;" nzAllowClear [(ngModel)]="modalForm.continueTime"
                     (ngModelChange)="duration($event)">
            <nz-option [nzValue]="i.value" [nzLabel]="i.name" *ngFor="let i of continueTimeArr"></nz-option>
          </nz-select>
          <nz-input-number [nzMin]="0" class="day-input fl" *ngIf="modalForm.continueTime == '0' || inputShow"
                           style="width: 100px; margin-left: 4px;" [(ngModel)]="modalForm.continueTimeNew"
                           [nzStep]="1" (nzBlur)="duration(modalForm.continueTimeNew)"></nz-input-number>
          <span class="fl" *ngIf="modalForm.continueTime == '0' || inputShow">分钟</span>
        </nz-form-control>
      </div>
    </div>
    <div class="clearfix">
      <div class="fl clearfix">
        <nz-form-label class="fl">竞价结束时间</nz-form-label>
        <nz-form-control class="fl">
          <nz-date-picker [(ngModel)]="modalForm.executionTimeEnd"
                          [nzDisabledDate]="disabledEndDate" [nzShowTime]="{nzFormat:'HH:mm'}" [nzShowToday]="false"
                          nzFormat="yyyy-MM-dd HH:mm" (ngModelChange)="getTime($event)"
                          nzPlaceHolder="结束">
          </nz-date-picker>
        </nz-form-control>
      </div>
    </div>
    <ng-container>
      <p><i nz-icon type="form" theme="outline"></i><span>备注</span></p>
      <textarea rows="4" maxLength="200" nz-input [(ngModel)]="modalForm.remark"></textarea>
    </ng-container>
  </ng-template>
  <ng-template #recordFooter>
    <button nz-button nzType="primary" (click)="confirmPublish(buttonId)" [nzLoading]="confirmLoading"
            [disabled]="confirmLoading">确定
    </button>
    <button nz-button nzType="default" (click)="cancel()">取消</button>
  </ng-template>
</ng-container>
<nz-modal [nzWidth]="'75%'" [nzVisible]="historyIsVisible" [nzTitle]="historyTitle" [nzContent]="historyContent"
          [nzFooter]="historyFooter" (nzOnCancel)="handleCancel()">
  <ng-template #historyTitle>
    <span *ngIf="buttonId == 'Detail'">查看竞价详情</span>
    <span *ngIf="buttonId == 'Select'">竞价选择</span>
  </ng-template>
  <ng-template #historyContent>
    <div style="margin-bottom: 10px; overflow: hidden; width: 100%;">
      <p style="float: left;" *ngIf="buttonId == 'Select'"><i nz-icon type="form" theme="outline"></i><span>竞价选择</span>
      </p>
      <button nz-button nzType="primary" *ngIf="buttonId == 'Select'" style="float: right;" (click)="abandonBid()">
        放弃竞价
      </button>
    </div>

    <nz-tabset *ngIf="buttonId == 'Detail'" [(nzSelectedIndex)]="selectedIndex" (nzSelectedIndexChange)="getHistory()">
      <nz-tab nzTitle="竞价详情">
      </nz-tab>
      <nz-tab nzTitle="竞价历史">
      </nz-tab>
    </nz-tabset>
    <nz-table class="modal-table" #historyTable [nzData]="bidHistory" [nzScroll]="{x:'150%',y:'500px'}"
              [nzFrontPagination]="false" [nzBordered]="false"
              nzShowPagination="false" [nzLoading]="queryHistoryLoading">
      <thead>
      <tr>
        <th width="100px" *ngIf="buttonId == 'Select'">竞价选择</th>
        <th>承运人/司机</th>
        <th>单价（含税）(元/吨)</th>
        <th>单价（不含税）(元/吨)</th>
        <th>参考总金额（含税）(元)</th>
        <th width="200px">参考总金额（不含税）(元)</th>
        <th>已报车次</th>
        <th>出价时间</th>
        <th>车牌号</th>
        <th>联系人</th>
        <th>联系电话</th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-item [ngForOf]="historyTable.data">
        <tr>

          <td width="100px" *ngIf="buttonId == 'Select'">
            <label nz-checkbox [ngModel]="item.isCheckedButton" (ngModelChange)="changeCompany(item)"
                   [ngModelOptions]="{standalone: true}"></label>
          </td>
          <td [title]="item.bidderCompanyName">{{item.bidderCompanyName}}</td>
          <td [title]="item.offerPriceTax">{{item.offerPriceTax}}</td>
          <td [title]="item.offerPriceTaxNo">{{item.offerPriceTaxNo}}</td>
          <td [title]="item.totAmount">{{item.totAmount}}</td>
          <td [title]="item.totAmountNo" width="200px">{{item.totAmountNo}}</td>
          <td [title]="item.offerTrainNum">{{item.offerTrainNum}}</td>
          <td [title]="item.bidderTime">{{item.bidderTime}}</td>
          <td [title]="item.vehicleNo">{{item.vehicleNo}}</td>
          <td [title]="item.linkMan">{{item.linkMan}}</td>
          <td [title]="item.bidderCompanyPhone">{{item.bidderCompanyPhone}}</td>
        </tr>
      </ng-template>
      </tbody>
    </nz-table>
  </ng-template>
  <ng-template #historyFooter>
    <button nz-button nzType="primary" *ngIf="buttonId == 'Select'" (click)="selectBidding()"
            [nzLoading]="confirmLoading">确定
    </button>
    <button nz-button nzType="default" (click)="historyIsVisible = false">关闭</button>
  </ng-template>
</nz-modal>
<ng-container>
  <ng-template #confirmTitle>提示信息</ng-template>
  <ng-template #confirmContent>
    <p class="text-center f-b" style="margin:0;"> {{confirmCon}} </p>
  </ng-template>
  <ng-template #confirmFooter>
    <button nz-button nzType="primary" (click)="confirm()">确定</button>
    <button nz-button nzType="default" (click)="cancel()">取消</button>
  </ng-template>
</ng-container>

<ng-template #biddingSelection>
  <nz-spin [nzSpinning]="nzSpinning" [nzSize]="'large'">
    <div nz-row nzType="flex" nzJustify="center">
      <div nz-col nzSpan="24">
        <div nz-row nzType="flex" nzJustify="end">
          <div nz-col>
            <button nz-button nzType="primary" *ngIf="buttonId == 'Select'" (click)="abandonBid()">
              放弃竞价
            </button>
          </div>
        </div>
      </div>
      <div style="margin-top: 5px" nz-col nzSpan="12">
        <app-table-form (updateDataResult)="bidderSelect($event)" [dataSet]="bidHistoryStorage"
                        [nzShowPagination]="false"
                        gridId="grid3" [selfTableHeight]="'160px'" tableTitle="竞价人">
        </app-table-form>
      </div>
      <div style="margin-top: 5px" nz-col nzSpan="12">
        <app-table-form (updateDataResult)="bidDetailSelect($event)" [dataSet]="data2Storage"
                        [disabledAllCheckBox]="disabledAllCheckBox" [nzShowPagination]="false" selectedChange="true"
                        gridId="grid4" isMutli="true" [selfTableHeight]="'160px'" tableTitle="委托明细">
        </app-table-form>
      </div>
      <div nz-col nzSpan="24">
        <div nz-row nzType="flex" nzJustify="center" nzAlign="middle">
          <div nz-col nzSpan="1" nzPull="1">
            <button (click)="matchClick()" [disabled]="bidderSelectList.length===0||bidDetailSelectList.length===0"
                    nz-button nzType="primary">
              匹配
            </button>
          </div>
          <div nz-col nzSpan="1" nzPush="1">
            <button (click)="cancelClick()" [disabled]="resultSelectList.length===0" nz-button nzType="default">
              取消
            </button>
          </div>
        </div>
      </div>
      <div style="margin-top: 5px" nz-col nzSpan="24">
        <app-table-form (updateDataResult)="resultSelect($event)" [dataSet]="summaryData" [nzShowPagination]="false" isMutli="true"
                        gridId="grid5" [selfTableHeight]="'140px'">
        </app-table-form>
      </div>
    </div>
  </nz-spin>
</ng-template>
