<div>
<app-searchform (searchComponent)="_initalSearch($event)" (search)="getList($event)" [suffixTemplate]="searchSuffix"></app-searchform>
  <ng-template #searchSuffix>
    <!-- <div class="fl" style="width: 28%;margin-top:4px;">
      <div class="fl" style="padding-top:5px;">
        <span>创建日期：</span>
      </div>
      <div class="fl">
        <nz-date-picker style="width: 140px;" [(ngModel)]="inqu.createDateStart" name="createDateStart"></nz-date-picker>
        -
        <nz-date-picker style="width: 140px;" [(ngModel)]="inqu.createDateEnd" name="createDateEnd"></nz-date-picker>
      </div>
    </div>
    <div class="fl" style="width: 22%;margin-top:4px;">
      <div class="fl" style="padding-top:5px;">
        <span>运输方式：</span>
      </div>
      <div class="fl">
        <nz-radio-group [(ngModel)]="inqu.transType" name="transType" nzButtonStyle="solid" (ngModelChange)="initalSearch()">
          <label *ngFor="let option of bizScope" nz-radio-button [nzValue]="option.value">{{ option.label }}</label>
        </nz-radio-group>
      </div>
    </div> -->
  </ng-template>

  <tpl-buttons (btnClick)="btnClick($event)" [btnDisable]="btnDisable"></tpl-buttons>

  <app-table-form gridId="grid1" [dataSet]="result" (listClick)="rowClick($event)" [trSelectedShow]="true"
    [listLoading]="loading" [totalPage]="total" (updateDataResult)="checkedData($event)" [isMutli]="true"></app-table-form>
</div>
<div class="grid-pad">

  <app-table-form gridId="grid2" [dataSet]="itemData" [isCheckBox]="false" [listLoading]="itemLoading" [showCount]="false"
    [nzShowPagination]="false"></app-table-form>

</div>

<nz-modal [nzWidth]="'75%'" [nzVisible]="modalIsVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnCancel)="modalIsVisible=false">
  <ng-template #modalTitle>
    发布预招标
  </ng-template>
  <ng-template #modalContent>
    <form nz-form [formGroup]="form" [nzLayout]="'inline'">

      <p><i nz-icon type="form" theme="outline"></i><span>招标定价</span></p>

      <div *ngIf="publishType === 1">
        <nz-table #publish [nzScroll]="{x:'100%',y:'150px'}" nzSize="small" class="modal-table" [nzData]="selectedData"
          [nzShowPagination]="false">
          <thead>
            <tr>
              <th>货盘号</th>
              <th>流向</th>
              <th>重量(MT)</th>
              <th>是否含税</th>
              <th>参考运价</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of publish.data" (click)="rowClicked(item)">
              <td [title]="item.palletNo">{{item.palletNo}}</td>
              <td [title]="item.flowDesc">{{item.flowDesc}}</td>
              <td>{{item.totWeight | number}}</td>
              <td>
                <nz-select style="width: 100px;" nzAllowClear nzSize="small" [(ngModel)]="item.settleType"
                  [ngModelOptions]="{standalone: true}">
                  <nz-option *ngFor="let option of settleType" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                </nz-select>
              </td>
              <td>
                <nz-input-group nzCompact>
                  <nz-input-number style="width:40%" [nzMin]="0" [(ngModel)]="item.markedPriceTaxNo" [nzStep]="1"
                    [ngModelOptions]="{standalone: true}"></nz-input-number>
                  <nz-select style="width:45%" [(ngModel)]="item.calculation" [ngModelOptions]="{standalone: true}">
                    <nz-option *ngFor="let option of calculation" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                  </nz-select>
                </nz-input-group>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>

      <div *ngIf="publishType === 2" nz-row [nzGutter]="{ xs: 8, md: 16, lg: 24, xl: 32 }" nzType="flex" nzAlign="top">
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzSpan="6" nzRequired>参考运价</nz-form-label>
            <nz-form-control nzSpan="18">
              <nz-input-group nzCompact>
                <nz-input-number style="width:150px;" [nzMin]="0" formControlName="markedPriceTaxNo" [nzStep]="1"></nz-input-number>
                <nz-select style="width:100px;" formControlName="calculation">
                  <nz-option *ngFor="let option of calculation" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                </nz-select>
              </nz-input-group>
              <nz-form-explain *ngIf="(form.get('markedPriceTaxNo').dirty && form.get('markedPriceTaxNo').errors) || (form.get('calculation').dirty && form.get('calculation').errors)">请输入最高限价和计价方式!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzSpan="8" nzRequired>是否含税</nz-form-label>
            <nz-form-control nzSpan="16">
              <nz-select style="width:100px;" formControlName="settleType">
                <nz-option *ngFor="let option of settleType" [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
              </nz-select>
              <nz-form-explain *ngIf="form.get('settleType').dirty && form.get('settleType').errors">请选择是否含税!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <p style="margin-top:16px;"><i nz-icon type="form" theme="outline"></i><span>附件</span></p>
      <div nz-row [nzGutter]="{ xs: 8, md: 16, lg: 24, xl: 32 }" nzType="flex" nzAlign="top">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzSpan="2" nzRequired>附件</nz-form-label>
            <nz-form-control nzSpan="4">
              <input type="hidden" formControlName="docUrls">
              <nz-upload [nzAction]="upload.action" [nzCustomRequest]='upload.handleRequest' [(nzFileList)]="docUrlsList"
                nzListType="text" [nzPreview]="handlePreview" [nzData]="upload.handleData" (nzChange)="handleChange($event,'docUrls')"
                nzMultiple="true" nzLimit="3">
                <button nz-button>
                  <i nz-icon type="upload"></i><span>附件上传</span>
                </button>
              </nz-upload>
              <nz-form-explain *ngIf="form.get('docUrls').dirty && form.get('docUrls').errors">请选择附件上传!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      
      <p style="margin-top:16px;"><i nz-icon type="form" theme="outline"></i><span>招标时效</span></p>
      <div nz-row [nzGutter]="{ xs: 8, md: 16, lg: 24, xl: 32 }" nzType="flex" nzAlign="top">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzSpan="2" nzRequired>投标时间</nz-form-label>
            <nz-form-control nzSpan="12">
              <nz-date-picker [nzDisabledDate]="disabledStartDate" formControlName="bidTimeStart" [nzShowTime]="{'nzFormat': 'HH:mm', 'nzMinuteStep': 5}"
                nzFormat="yyyy-MM-dd HH:mm" nzPlaceHolder="开始">
              </nz-date-picker>
              <nz-date-picker [nzDisabledDate]="disabledEndDate" formControlName="bidTimeEnd" [nzShowTime]="{'nzFormat': 'HH:mm', 'nzMinuteStep': 5}"
                nzShowTime nzFormat="yyyy-MM-dd HH:mm" nzPlaceHolder="结束">
              </nz-date-picker>
              <nz-form-explain *ngIf="form.get('bidTimeEnd').dirty && form.get('bidTimeEnd').errors">请输入投标结束时间!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzSpan="2">备注</nz-form-label>
            <nz-form-control nzSpan="12">
              <textarea nz-input formControlName="remark" nzAutosize [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
              <nz-form-explain *ngIf="form.get('remark').dirty && form.get('remark').errors">请输入备注!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <p class="b-t p-sm-tb">
      <button nz-button nzType="default" class="m-r" (click)="modalIsVisible=false">取消</button>
      <button nz-button nzType="primary" class="m-r" [nzLoading]="insertLoading" (click)="insertList()">确认</button>
    </p>
  </ng-template>
</nz-modal>