.grid-pad{
    padding-top:30px;
}
.input-width ::ng-deep .ant-input{
    width:90px;
}
/* .modal-table ::ng-deep .ant-table-wrapper div.ant-table-body{
    height:auto;
    min-height:0;
    margin-bottom:2px;
} */
.green-border-input ::ng-deep .ant-input {
    border-width: 2px;
    text-align: right;
    border-color: green!IMPORTANT;
}

.ant-form-inline .ant-form-item {
    width: 100%;
}