
.ant-layout {
  background: white;
  height: 100%;
  min-width: 1300px;
  min-height: 600px;
}
 .w {
  width: 1300px;
  margin: 0 auto;
  background: white;
}


.content-box {
  height: 100%;
  margin: 0 auto;
  min-width: 1300px;
  min-height: 528px;
  width: 100%;
  padding-top:1px;
  background: url("src/assets/static/background-login.png") 0 0 / 100% 100% no-repeat;
}

 .login-box {
  border-top: solid 1px white;
  margin: 80px auto;
  width: 470px;
  padding: 35px 26px 25px;
  background: white;
  border: 5px solid #1989C9;
}

.login-form-button {

  width: 60%;
  background-color: #00A8FF;
  border-color: #00A8FF;
  margin: 0 10%;
  font-family: PingFangSC-Semibold;
}

::ng-deep .ant-form{
  padding: 5px;
}
