<app-searchform (search)="listSearch($event)"></app-searchform>
<tpl-buttons (btnClick)="btnClick($event)"></tpl-buttons>

<div>
  <p>库区信息</p>
  <app-table-form [extraTableHeight]="25"
                  [gridId]="'grid1'" [dataSet]="dataSet1" [isMutli]="true"
                  [pageSize]="pageSize1" [totalPage]="totalPages1" [listLoading]="listLoading1"
                  (updateDataResult)="updateDataResult($event)"></app-table-form>
</div>
<!--数据弹出框-->
<nz-modal [(nzVisible)]="modalFormVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <form nz-form [formGroup]="modalValidateForm">
    <nz-form-item *ngFor="let m of modalFormData">
      <nz-form-label [nzSpan]="8" [nzRequired]="m.require">
        {{m.name}}
      </nz-form-label>

      <nz-form-control [nzSpan]="12">
        <input type="{{m.type}}" *ngIf="m.eName!=='stockName'" nz-input formControlName="{{m.eName}}"
               [attr.id]="m.eName">
        <nz-select *ngIf="m.eName==='stockName'" nzShowSearch nzAllowClear formControlName="{{m.eName}}">
          <nz-option [nzLabel]="i.stockName" [nzValue]="i.stockName" *ngFor="let i of stockNameArr"></nz-option>
        </nz-select>

        <nz-form-explain *ngIf="modalValidateForm.get(m.eName).dirty && modalValidateForm.get(m.eName).errors">

          <ng-container *ngIf="modalValidateForm.get(m.eName).hasError('required')">
            {{m.validateCon}}
          </ng-container>
          <ng-container *ngIf="modalValidateForm.get(m.eName).hasError('pattern')">
            {{m.validators.patternErr}}
          </ng-container>

        </nz-form-explain>

      </nz-form-control>

    </nz-form-item>

  </form>
</nz-modal>

<!--确认弹窗-->
<app-modal-confirm [deleteVisible]="deleteVisible" [modalTitle]="modalTitle" [modalCon]="deleteCon"
                   (modalConfirmResult)="modalConfirmResult($event)">

</app-modal-confirm>
