<!--<p>
  kilometre-manage works!
</p>-->
<common-page (btnClick)='btnClick($event)' (search)="listSearch($event)" (btnAdd)="btnAdd()"
             [pageSize]="pageSize" [totalPage]="totalPage" [listLoading]="listLoading" [triggerSearch]="true"
             (btnUpdate)="btnUpdate($event)" (btnDelete)="btnDelete($event)" [dataSet]="dataSet"
             [isMutli]="true" (updateDataResult)="updateDataResult($event)">

</common-page>
<!--弹出框-->
<nz-modal [(nzVisible)]="modalFormVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()" (nzAfterClose)="closeResult()" [nzContent]="modalFormContent" [nzMaskClosable]="false">
  <ng-template #modalFormContent>
     <form nz-form [formGroup]="modalValidateForm">
        <nz-form-item *ngFor="let m of modalFormData">
           <nz-form-label [nzSpan]="6" [nzRequired]="m.require">
              {{m.name}}
           </nz-form-label>
           <nz-form-control [nzSpan]="12">
              <input type="{{m.type}}" *ngIf="m.type == 'text'" nz-input formControlName="{{m.eName}}" [id]="m.eName">
                 <nz-input-number class="width-236" *ngIf="m.type == 'number'" formControlName="{{m.eName}}"
                                  [nzMin]="m.min || 0" >
                 </nz-input-number>
                 <nz-select [attr.id]="m.eName" *ngIf="m.type == 'prodName'" [formControlName]="m.eName">
                    <nz-option *ngFor="let i of prodNameArr" [nzLabel]="i.prodKindPriceOut" [nzValue]="i.prodKindPriceOut">
                    </nz-option>
                 </nz-select>
                 <nz-radio-group [attr.id]="m.eName" *ngIf="m.type == 'radio'" formControlName="{{m.eName}}">
                    <label nz-radio nzValue="{{r.value}}" *ngFor="let r of radioArr">{{r.name}}</label>
                 </nz-radio-group>
                 <input-modal *ngIf="m.type == 'inputModal'" [isMutli]="false" [findset]="findset" [(inputModalModel)]="inputModalModel" (inpEmit)="inpEmit($event)" [DISABLED]="false">
                 </input-modal>
                 <nz-select nzShowSearch [attr.id]="m.eName" *ngIf="m.type == 'province'" [formControlName]="m.eName"
                           (ngModelChange)="addressChange($event,'DZDJ10')">
                    <nz-option *ngFor="let i of provinceArr" [nzLabel]="i.name" [nzValue]="i.code"></nz-option>
                 </nz-select>
                 <nz-select nzShowSearch nzAllowClear [attr.id]="m.eName" *ngIf="m.type == 'city'"
                           [formControlName]="m.eName" (ngModelChange)="addressChange($event,'DZDJ20')">
                    <nz-option *ngFor="let i of cityArr" [nzLabel]="i.name" [nzValue]="i.code"></nz-option>
                 </nz-select>
                 <nz-select nzShowSearch nzAllowClear [attr.id]="m.eName" *ngIf="m.type == 'area'"
                            [formControlName]="m.eName" (ngModelChange)="addressChange($event,'DZDJ30')">
                    <nz-option *ngFor="let i of areaArr" [nzLabel]="i.name" [nzValue]="i.code"></nz-option>
                 </nz-select>
                 <nz-select nzShowSearch nzAllowClear [attr.id]="m.eName" *ngIf="m.type == 'town'"
                           [formControlName]="m.eName" (ngModelChange)="addressChange($event,'DZDJ40')">
                    <ng-container *ngIf="'RaisePrice' !== status">
                       <nz-option *ngFor="let i of townArr" [nzLabel]="i.name" [nzValue]="i.code"></nz-option>
                    </ng-container>
                    <ng-container *ngIf="'RaisePrice' === status">
                       <nz-option *ngFor="let i of townArr" nzCustomContent [nzLabel]="i.townName" [nzValue]="i.town">
                          <div style="height: 22px;">{{i.townName}}</div>
                       </nz-option>
                    </ng-container>
                 </nz-select>
                 <nz-form-explain *ngIf="modalValidateForm.get(m.eName).dirty && modalValidateForm.get(m.eName).errors">
                    <ng-container *ngIf="modalValidateForm.get(m.eName).hasError('required')">
                       {{m.validateCon}}
                    </ng-container>
                    <ng-container *ngIf="modalValidateForm.get(m.eName).hasError('pattern')">
                       {{m.validators.patternErr}}
                    </ng-container>
                 </nz-form-explain>
           </nz-form-control>
        </nz-form-item>
     </form>
  </ng-template>
</nz-modal>

<!--确认弹窗-->
<app-modal-confirm [deleteVisible]="deleteVisible" [modalTitle]="modalTitle" [modalCon]="deleteCon" (modalConfirmResult)="modalConfirmResult($event)">
</app-modal-confirm>


