<div class="body-content">
  <app-home-page-header></app-home-page-header>
  <div class="cul-content">

    <div class="cul-top"></div>
    <div class="cul-top2"></div>
    <div class="cul-top3"></div>
    <div class="cul-top4"></div>
    <!--<div class="cul-top-tip">-->
    <!--<span>智能</span>-->
    <!--<span>高效</span>-->
    <!--</div>-->
    <!--<div class="cul-top-tip">-->
    <!--<span>公开</span>-->
    <!--<span>透明</span>-->
    <!--</div>-->
    <!--<div class="cul-top-tip">-->
    <!--<span>协同</span>-->
    <!--<span>开放</span>-->
    <!--</div>-->
    <!--<div class="cul-top-tip">-->
    <!--<span>安全</span>-->
    <!--<span>便捷</span>-->
    <!--</div>-->
    <!--<div class="cul-top-tip">-->
    <!--<span>共创</span>-->
    <!--<span>共享</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="cul-con">-->
    <!--<div class="fl">-->
    <!--<h5>我们的使命</h5>-->
    <!--<p class="p-first">大道至简  唯以创新与智慧</p>-->
    <!--</div>-->
    <!--<div class="fr">-->
    <!--<img src="../../../assets/static/cul_img.png"/>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="cul-con bg-white">-->
    <!--<div class="fl">-->
    <!--<img src="../../../assets/static/cul_img.png"/>-->
    <!--</div>-->
    <!--<div class="fr">-->
    <!--<h5>我们的愿景</h5>-->
    <!--<ul>-->
    <!--<li>-->
    <!--<p>局部到整体</p>-->
    <!--<p>从局部应用，到物流整体解决方案</p>-->
    <!--</li>-->
    <!--<li>-->
    <!--<p>互联到一战</p>-->
    <!--<p>从生态链互联，到一站式物流平台</p>-->
    <!--</li>-->
    <!--<li>-->
    <!--<p>数据到智慧</p>-->
    <!--<p>从物联网、云计算、大数据，到智慧物流</p>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="cul-con">-->
    <!--<div class="fl">-->
    <!--<h5>我们的价值观</h5>-->
    <!--<p class="b-p">诚信  共赢</p>-->
    <!--</div>-->
    <!--<div class="fr">-->
    <!--<img src="../../../assets/static/cul_img.png"/>-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <app-home-page-footer></app-home-page-footer>
</div>
