.label{
    margin:10px 75px;
    top:23px;
}
.select{
    width:236px;
    margin:0 -65.5px;
}
.lab1 .ant-input{
    position: absolute;
    top:0px;
    left: 118px;
    width: 236px;
    height: 32px;
}
