<!-- <img src="/assets/static/802.png" style="width:100%; overflow: hidden; z-index: -1;"> -->
<div class="footer-bg">
  <main class="main-fo">
    <!--<p>-->
    <!--</p>-->
    <!--<p>-->
    <!--<span>客服电话: 021-61231318&nbsp;&nbsp;</span>-->
    <!--<span>联系邮箱：cykjdevelop@163.com&nbsp;&nbsp;</span>-->
    <!--<span>地址: 上海市杨浦区国权北路1688弄19号(湾谷A3办公楼)</span>-->
    <!--</p>-->
    <div class="three left">
      <img style="height: 70px;width: 100px" src="/assets/static/logobig.png" alt="">
      <div>
        <span><img style="height: 30px;width: 150px"  src="/assets/static/logowhite.png" alt=""></span>
        <span>让物流更简单 更高效</span>
      </div>
    </div>
    <div class="three center">
      <p><span>客服电话: </span><span> 021-61231318</span></p>
      <p><span> 联系邮箱:</span><span> cykjdevelop@163.com </span></p>
      <p><span >地址 :  </span> <span>  上海市杨浦区国权北路1688弄19号(湾谷A3办公楼)  </span> </p>
      <p style="text-align:center"><a href="http://www.beian.miit.gov.cn" style="color: #b1b1b1;">Copyright© 2017 沪ICP备16029112 号</a></p>
    </div>
    <div class="three right">
      <img src="/assets/static/footerLogo1.png" style="height: 75px;width:75px" alt="">
      <p>
       公众号
     </p>
    </div>
  </main>
</div>
