<!-- <div class="c-pnf-box">
        <div class="c-pnf-title">
          <img src="assets/img/404.png">
        </div>
        <div class="c-pnf-desc">
            非常抱歉，您访问的页面不存在，请点击浏览器后退按钮返回到上一级页面！
        </div>
</div> -->
<div class="clearfix" style="padding:10% 20%;">
    <div class="fl" style="padding-top:5%;">
        <p style="font-size:36px;">找不到页面</p>
        <p>很抱歉，您输入的地址无效，请确认您访问的网页地址</p>
        <p>
            <a class="acolor" (click)="goBack()">点此处</a><span>返回上一个页面或</span>
            <a class="acolor" routerLink="/system/dashboard">点此处</a><span>返回主版页</span>
        </p>
    </div>
    <div class="fr" style="position: relative;">
        <img class="left-eye" src="assets/img/not-page-reye.png" />
        <img class="right-eye" src="assets/img/not-page-leye.png" />
        <img style="display: block;" src="assets/img/not-page-main.png" />
    </div>
</div>