.grid-pad {
  padding-top: 30px;
}
.inp-width{
  width: 100px;
}
.width-100-margin-left-10 {
  width: 100px;
  margin-left: 10px;
}
.modal-table ::ng-deep .ant-table-wrapper div.ant-table-body{
  height:auto;
  min-height:0;
  margin-bottom:2px;
}
.f-string{
  width:260px
}
.modal-table ::ng-deep .ant-table-wrapper div.ant-table-body{
  min-height: 150px!important;
}
.modal-table ::ng-deep .ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body{
  min-height: 150px!important;
}

.table-th {
  position: relative;
  cursor: pointer;
}
