.body-content{
  margin:0;
  width: 100%;
  min-width: 1349px;
  max-width: 100%;
  height: 100%;
}
.img_style{
    overflow: hidden;
    margin:0 0;
    width: auto;  
    height: auto;  
}
.img_style img{
    display: block;
    width: 100%;
}
.tab{
    /* width:60%;
    margin: auto; */
    height: 247px;
    text-align: center;
    cursor: pointer;

}
.sub_tab{
    /* width:60%;
    margin-left:20%; */
    text-align: center;
    margin-top: -100px;
    margin-bottom: 50px;
}

.big_word{
    color: #090909;
    font-size: 20px;
    margin-top:46px;
    font-weight:600;
    font-family:PingFang SC;

}
.small_word{
    color: #999999;
    font-size: 12px;
    margin-top: 18px;
    font-family:PingFang SC;
}

