<div class="card">
  <div class="card-header">
    <h3 style="color:rgb(243, 84, 11);">日钢进厂物流车辆排队系统</h3>&nbsp;流程示意图
  </div>
  <div class="card-body">
    <div id="paper" style="height:400px;width:800px;margin: 0 auto;"></div>
    <div style="float: left">
    <div>扫码下载安卓app</div>
    <qr-code value="http://jczh56.com/#/appload/Android_jczhwl" size="300"  background="#f2f1f1" padding="30"></qr-code>
    </div>
    <div style="float: left;margin-left: 20px">
    <div>扫码下载苹果app</div>
    <qr-code value="http://jczh56.com/#/appload/IOS_jczhwl" size="300"  background="#f2f1f1" padding="30"></qr-code>
    </div>
  </div>
</div>
