:host::ng-deep .ant-table-tbody > tr > td{
  text-align: left;
}
.selectShow{
  width: 100%;
}
.selectClose{
  visibility: hidden;
  position:absolute
}
.divShow {
  text-align: center;

}
.divClose{
  visibility: hidden;
  position:absolute
}
