<app-searchform [formId]="'form_rgDisp_procuredeal'" (search)="listSearch($event)"></app-searchform>
<tpl-buttons [formId]="'form_rgDisp_procuredeal'" [btnHiden]="{'Find':true,'Update':Update,'Save':!Update}"(btnClick)="btnClick($event)"></tpl-buttons>
<app-table-form
                  [formId]="'form_rgDisp_procuredeal'" [gridId]="'grid1'"
                  [isMutli]="false"
                  [dataSet]="dataSet"
                  [isCheckBox]="true"
                  [listLoading]="loading"
                  [showCount]="true"
                  (updateDataResult)="updateDataResult($event)"
                  (pageIndexEmit)='getPageIndex1($event)' (pageSizeEmit)='getPageSize1($event)'
                  [pageSize]="pageSize1"
                  (userColumnsEmit)="colName($event)"
                  [totalPage]="totalPage"
                 >
  <ng-template #kind let-data let-header>
    <nz-select [nzAllowClear]="true" [nzShowSearch]="true" nzSize="small" [(ngModel)]="data.kindName"
               [ngClass]="{'selectShow':data.selectShow,'selectClose':!data.selectShow}"
               (ngModelChange)="modelChange($event,data)">
      <nz-option *ngFor="let p of kindNameArr" [nzLabel]="p.name" [nzValue]="p.value"></nz-option>
    </nz-select>
    <div [ngClass]="{'divShow':!data.selectShow,'divClose':data.selectShow}">{{data.kindName}}</div>
  </ng-template>
  </app-table-form>
