<form nz-form [formGroup]="validateForm" style="padding:15px 20px 0px 0px">
  <nz-form-item>
    <nz-form-label [nzXs]="2" nzFor="outWsNo">出库单号</nz-form-label>
    <nz-form-control [nzXs]="4">
      <input type="text" nz-input name="outWsNo" formControlName="outWsNo" placeholder="系统生成" disabled="true">
    </nz-form-control>
    <nz-form-label [nzXs]="2" nzRequired nzFor="outWsTime">出库时间</nz-form-label>
    <nz-form-control [nzXs]="4">
      <nz-date-picker nzShowTime name="outWsTime" formControlName="outWsTime"
                      nzFormat="yyyy-MM-dd HH:mm:ss"></nz-date-picker>
      <nz-form-explain *ngIf="validateForm.get('outWsTime').dirty && validateForm.get('outWsTime').errors">请选择出库时间
      </nz-form-explain>
    </nz-form-control>

    <nz-form-label [nzXs]="2" nzRequired nzFor="customerName">客户名称</nz-form-label>
    <nz-form-control [nzXs]="4">
      <input-modal [isMutli]="false" [showExplainFlag]="showExplainFlag"
                   [validate]="{validateOpt:'inpValue',validateCon:'请选择客户名称'}"
                   [findset]="{ formId: 'company_pop', name: '客户名称', parameter: 'companyName',parameterSend:'companyId' }"
                   [inputModalModel]="customerName" [inputModalHiddenValue]="customerCode"
                   (inpEmit)="inpEmit($event)"></input-modal>
      <!-- <nz-form-explain *ngIf="true">请输入客户名称</nz-form-explain> -->
    </nz-form-control>

    <nz-form-label [nzXs]="2" nzFor="travelno">车船号</nz-form-label>
    <nz-form-control [nzXs]="4">
      <input nz-input formControlName="travelno" id="travelno">
      <nz-form-explain *ngIf="validateForm.get('travelno').dirty && validateForm.get('travelno').errors">请输入船号
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzXs]="2" nzRequired nzFor="operUser">操作人</nz-form-label>
    <nz-form-control [nzXs]="4">
      <input nz-input formControlName="operUser" id="operUser">
      <nz-form-explain *ngIf="validateForm.get('operUser').dirty && validateForm.get('operUser').errors">请输入操作人
      </nz-form-explain>
    </nz-form-control>

    <nz-form-label [nzXs]="2" nzRequired nzFor="operTime">操作时间</nz-form-label>
    <nz-form-control [nzXs]="4">
      <nz-date-picker nzShowTime name="operTime" formControlName="operTime"
                      nzFormat="yyyy-MM-dd HH:mm:ss"></nz-date-picker>
      <nz-form-explain *ngIf="validateForm.get('operTime').dirty && validateForm.get('operTime').errors">请选择操作时间
      </nz-form-explain>
    </nz-form-control>

    <nz-form-label [nzXs]="2" nzRequired nzFor="operTeam">操作班组</nz-form-label>
    <nz-form-control [nzXs]="4">
      <!--<input nz-input formControlName="operTeam" id="operTeam">-->
      <!--<nz-form-explain *ngIf="validateForm.get('operTeam').dirty && validateForm.get('operTeam').errors">请输入操作班组-->
      <!--</nz-form-explain>-->
      <input-modal [isMutli]="false"
                   [findset]="{ formId:'form_team_manage', name: '班组名称', parameter: 'teamName',parameterSend:'teamId',url:'teamGetPage' }"
                   [showExplainFlag]="teamShowExplainFlag" [validate]="{validateOpt:'inpValue',validateCon:'请选择操作班组'}"
                   [inputModalModel]="operTeam" (inpEmit)="teamInpEmit($event)"></input-modal>
    </nz-form-control>

    <nz-form-label [nzXs]="2" nzFor="tallyman">理货员</nz-form-label>
    <nz-form-control [nzXs]="4">
      <input nz-input formControlName="tallyman" id="tallyman">
      <nz-form-explain *ngIf="validateForm.get('tallyman').dirty && validateForm.get('tallyman').errors">请输入理货员
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>

    <nz-form-label [nzXs]="2" nzFor="craneOper">吊机工</nz-form-label>
    <nz-form-control [nzXs]="4">
      <input nz-input formControlName="craneOper" id="craneOper">
      <nz-form-explain *ngIf="validateForm.get('craneOper').dirty && validateForm.get('craneOper').errors">请输入吊机工
      </nz-form-explain>
    </nz-form-control>
    <nz-form-label [nzXs]="2" nzFor="berth">泊位</nz-form-label>
    <nz-form-control [nzXs]="4">
      <input nz-input formControlName="berth" id="berth">
      <nz-form-explain *ngIf="validateForm.get('berth').dirty && validateForm.get('berth').errors">请输入泊位
      </nz-form-explain>
    </nz-form-control>
    <nz-form-label [nzXs]="2" nzFor="driverId">司机</nz-form-label>
    <nz-form-control [nzXs]="4">
      <input nz-input formControlName="driverId" id="driverId">
      <nz-form-explain *ngIf="validateForm.get('driverId').dirty && validateForm.get('driverId').errors">请输入司机
      </nz-form-explain>
    </nz-form-control>
    <nz-form-label [nzXs]="2" nzFor="vehicleNo">车牌</nz-form-label>
    <nz-form-control [nzXs]="4">
      <input nz-input formControlName="vehicleNo" id="vehicleNo">
      <nz-form-explain *ngIf="validateForm.get('vehicleNo').dirty && validateForm.get('vehicleNo').errors">请输入车牌
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzXs]="2" nzFor="remark">备注</nz-form-label>
    <nz-form-control [nzXs]="10">
      <input nz-input formControlName="remark" id="remark">
    </nz-form-control>
  </nz-form-item>
  <tpl-buttons [formId]="'form_stock_out_add'" [btnDisable]="btnDisable"
               (btnClick)='btnClick($event)'></tpl-buttons>
  <app-table-form [formId]="'form_stock_out_add'"
                  [gridId]="'grid1'"
                  (userColumnsEmit)='getUserHeader($event)'
                  [dataSet]="dataSet1"
                  [gridOperate]="{show:true,title:'操作',template:g1}"
                  [nzShowPagination]="false"
                  [isCheckBox]="false"
                  [listLoading]="listLoading1"
                  (inpEmit)="inpEmitDetail($event)">
    <ng-template #g1 let-data let-index="index">
      <a (click)="delete(data,index)" a>删除</a>
    </ng-template>
  </app-table-form>
</form>
