div.top-nav{
    background-color:rgb(243, 209, 209) !important;
}
ul.left-nav-box{
    background-color:rgb(243, 209, 209) !important;
}
ul.top-right li.line{
    border-right-color: #e7c3c3 !important;
}
li.left-icon:hover{
  background-color:rgb(221, 182, 182) !important;
}
.left-icon:hover .nav-resourceName{
    color:rgb(238, 75, 75) !important;
}
.ant-btn{
    border-color:rgb(243, 209, 209);
    color:rgb(243, 209, 209);
}
.ant-btn:hover,.ant-btn:active,.ant-btn.active,.ant-btn:focus{
    border-color:rgb(247, 205, 205);
    color:rgb(241, 198, 198);
}
.ant-btn-primary{
    background-color:rgb(243, 209, 209);
    border-color:rgb(243, 209, 209);
    color:#fff;
}
.ant-btn-background-ghost.ant-btn-primary{
    border-color:rgb(243, 209, 209);
    color:rgb(240, 175, 175);
}

.ant-btn-primary:hover,.ant-btn-primary.active,.ant-btn-primary:focus,.ant-btn-primary:active{
    background-color:rgb(240, 175, 175);
    border-color:rgb(240, 175, 175);
    color:#fff;
}
.ant-btn-background-ghost.ant-btn-primary:hover,.ant-btn-background-ghost.ant-btn-primary.active,.ant-btn-background-ghost.ant-btn-primary:focus,.ant-btn-background-ghost.ant-btn-primary:active,.ant-btn-default:hover{
    border-color:rgb(240, 175, 175);
    color:rgb(240, 175, 175);
}
.ant-checkbox-checked .ant-checkbox-inner{
    color:#fff;
    background-color:rgb(240, 175, 175);
}
.ant-checkbox-checked .ant-checkbox-inner,.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner{
    border-color:rgb(240, 175, 175);
}
.ant-checkbox-indeterminate .ant-checkbox-inner:after,.ant-radio-inner:after{
    background-color:rgb(240, 175, 175);
}
.ant-input:focus,.ant-input:hover{
    border-color:rgb(240, 175, 175);
    box-shadow: 0 0 0 2px rgba(240, 175, 175, 0.2);
}
.ant-checkbox-checked:after{
    border-color:rgb(240, 175, 175);
}
.ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a,.ant-pagination-item:hover a,.ant-pagination-item-active.ant-pagination-item-active a{
    color:rgb(240, 175, 175) !important;
}
.ant-pagination-item:focus, .ant-pagination-item:hover,.ant-pagination-item-active{
    border-color:rgb(240, 175, 175);
}
.ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link{
    border-color:rgb(240, 175, 175);
    color:rgb(240, 175, 175);
}
.ant-select > .ant-select-selection:hover,.ant-select > .ant-select-selection:focus,.ant-radio-checked:after,.ant-radio-checked .ant-radio-inner{
    border-color:rgb(240, 175, 175);
}
.ant-select > .ant-select-selection:focus,.ant-pagination-options-quick-jumper input:hover,.ant-pagination-options-quick-jumper input:focus{
    box-shadow: 0 0 0 2px rgba(240, 175, 175, 0.2);
}
.ant-pagination-options-quick-jumper input:hover,.ant-pagination-options-quick-jumper input:focus{
    color:rgb(240, 175, 175);
    border-color:rgb(240, 175, 175);
}
.ant-radio-wrapper:hover .ant-radio .ant-radio-inner, .ant-radio:hover .ant-radio-inner, .ant-radio-focused .ant-radio-inner,.ant-upload.ant-upload-select-picture-card:hover{
    border-color:rgb(240, 175, 175);
}
[ant-click-animating-without-extra-node]:after,
.ant-click-animating-node {
    border-color:rgb(240, 175, 175);
}
.ant-tabs-nav .ant-tabs-tab:active,.ant-tabs-nav .ant-tabs-tab:hover,.ant-tabs-nav .ant-tabs-tab-active{
    color:rgb(240, 175, 175);
}
.ant-tabs-ink-bar{
    background-color:rgb(240, 175, 175);
}
.ant-menu-submenu-title:hover {
    color: rgb(240, 175, 175);
  }
  .ant-menu-submenu-title:active {
    background:rgb(247, 221, 221);
  }
  .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled){
    border-color:rgb(247, 221, 221);
}
.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled),.ant-calendar-picker:focus .ant-calendar-picker-input:not(.ant-input-disabled){
    border-color:rgb(247, 221, 221);
 }
 .ant-calendar-today .ant-calendar-date{
     border-color:rgb(247, 221, 221);
     color:rgb(240, 175, 175);
 }
 .ant-calendar-selected-day .ant-calendar-date{
     background:rgb(247, 221, 221);
 }
 .ant-calendar-date:active{
     background:rgb(247, 221, 221);
 }
 .ant-calendar-date:hover{
     background:rgb(247, 221, 221);
 }
 .ant-calendar-selected-date .ant-calendar-date:hover, .ant-calendar-selected-start-date .ant-calendar-date:hover, .ant-calendar-selected-end-date .ant-calendar-date:hover{
     background-color:rgb(247, 221, 221);
 }
 .ant-calendar-range .ant-calendar-in-range-cell:before{
     background:rgb(247, 221, 221);
 }
 a,a:active{
     color:rgb(240, 175, 175);
 }
 a:hover{
     color:rgb(243, 159, 159);
 }
 .ant-select-open .ant-select-selection{
    border-color:rgb(247, 221, 221);
    box-shadow: 0 0 0 2px rgba(240, 175, 175, 0.2);
}