<nz-tabset >
  <nz-tab *ngFor="let tab of tabs;let i = index;" [nzTitle]='tab.itemCname+tab.itemCount' (nzSelect)="nzSelect(tab.itemCode)">
    <ng-container>
      <app-searchform formId="form_rgDisp_tdpark0" (search)="listSearch($event)"></app-searchform>
      <tpl-buttons formId="form_rgDisp_tdpark0" (btnClick)="btnClick($event)"
                   [btnHiden]="{'Find':false,'Confirm':!(tab.formId=='form_rgDisp_tdpark0'||tab.formId=='form_rgDisp_tdpark1')}"></tpl-buttons>
      <app-table-form
        [gridId]="'grid1'" [formId]="tab.formId"
        [isMutli]="false"
        [dataSet]="dataSet"
        [isCheckBox]="true"
        (updateDataResult)="updateDataResult($event)"
        [listLoading]="listLoading"  [showCount]='true'
        [pageSize]="pageSize1"
        [totalPage]="totalPage"
        [showCount]="false"
      >
      </app-table-form>
    </ng-container>
  </nz-tab>
</nz-tabset>
