<common-page [pageSize]="pageSize" [totalPage]="total" [listLoading]="listLoading" [isMutli]="true"
             [dataSet]="dataSet" (search)="listSearch($event)" (btnClick)="btnClick($event)"
             (updateDataResult)="updateDataResult($event)">
</common-page>

<nz-modal [(nzVisible)]="modalFormVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
          (nzAfterClose)="closeResult()" [nzMaskClosable]="false">
  <form nz-form [formGroup]="modalValidateForm">
    <nz-form-item *ngFor="let m of modalFormData" [hidden]='m.hidden'>
      <nz-form-label [nzSpan]="6" [nzRequired]="m.require">{{m.name}}</nz-form-label>

      <nz-form-control [nzSpan]="12">

        <input [type]="m.type" *ngIf="m.type == 'text'" nz-input [formControlName]="m.eName" [id]="m.eName" trim>

        <ng-container *ngIf="m.type == 'img'">
          <nz-upload nzListType="picture-card" [nzAction]="upload.action" [nzCustomRequest]='upload.handleRequest'
                     [(nzFileList)]="formImgList" [nzPreview]="handlePreview" [nzData]="upload.handleData"
                     [nzShowButton]="formImgList.length  <1" (nzChange)="handleChange($event,'formImg')">
            <i class="anticon anticon-plus"></i>
            <div class="ant-upload-text">Upload</div>
          </nz-upload>
          <input type="hidden" [formControlName]="m.eName" readonly="readonly">
          <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                    (nzOnCancel)="previewVisible=false">
            <ng-template #modalContent>
              <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }"/>
            </ng-template>
          </nz-modal>
        </ng-container>


        <nz-form-explain *ngIf="modalValidateForm.get(m.eName).dirty && modalValidateForm.get(m.eName).errors">
          <ng-container *ngIf="modalValidateForm.get(m.eName).hasError('required')">
            {{m.validateCon}}
          </ng-container>
        </nz-form-explain>

      </nz-form-control>

    </nz-form-item>

  </form>
</nz-modal>
