.header-li {
  padding: 0 20px;
  height: 72px;
  line-height: 72px;
  font-size: 14px;
}

.header-li a {
  text-decoration: none;
  color: #000;
}

.header-li a:hover {
  color: #337ab7;
}

.wenhua {
  margin-top: 28px;
  margin-left: 20px;
}

ul {
  margin-bottom: 0;
}

.li-active {
  color: #337ab7 !important;
  padding-bottom: 3px;
  border-bottom: 3px solid #999999;
}
