<!--散货平账查询-->
<app-searchform (search)="listSearch($event)" ></app-searchform>
<tpl-buttons ></tpl-buttons>
<div>
  <app-table-form [pageFun]='true' (pageIndexEmit)='getPageIndex1($event)' (pageSizeEmit)='getPageSize1($event)'
                  [formId]="'form_bulk_info_account'" [extraTableHeight]="30"
                  [gridId]="'flatRecord'" [dataSet]="dataSet1"
                  [pageSize]="pageSize1" [totalPage]="totalPages1"
                  (updateDataResult)="selectData($event)"
                  [isMutli]="true" [listLoading]="listLoading1"
                  [isCheckBox]="true" [showCount]="false">
  </app-table-form>
</div>
