<company-choice [(selectedCompany)]="selectedCompany" (companyChange)="companyChange()"></company-choice>

<common-page (search)="listSearch($event)" (btnAdd)="btnAdd()" [pageSize]="pageSize" [totalPage]="totalPage"
             [listLoading]="listLoading" (btnDelete)="btnDelete($event)" (btnUpdate)="btnUpdate($event)"
             [dataSet]="dataSet" [isMutli]="true" [extraTableHeight]="permissions ? 52 : 0">

</common-page>

<app-modal-confirm [deleteVisible]="deleteVisible" [modalTitle]="modalTitle" [modalCon]="deleteCon"
                                  (modalConfirmResult)="modalConfirmResult($event)">

</app-modal-confirm>




