<nz-tabset  >
        <nz-tab *ngFor="let tab of tabs;let i = index;" [nzTitle]='tab.itemCname'
                (nzSelect)="selectChange(tab.queueType)">
        </nz-tab>
</nz-tabset>
<app-searchform  (search)="listSearch($event)" [staticData]="staticData"  [btnHiden]={mutiSearch:true}>
</app-searchform>
<tpl-buttons (btnClick)="btnClick($event)">
</tpl-buttons>
<app-table-form (updateDataResult)="updateDataResult($event)" [dataSet]="dataSet" [isMutli]="false"  [extraTableHeight]="120"
                [listLoading]="loading" [pageSize]="pageSize" [showCount]="false" [totalPage]="totalPage"
                [trSelectedShow]="true" gridId='grid1'>
</app-table-form>
