<div class="userAreement">
  <h2>用户协议</h2>
  <section>
    <p>
      本协议是您与汇好运平台所有者京创智汇（上海）物流科技有限公司之间就汇好运平台服务等相关事宜所订立的契约，本协议阐述之条款和条件适用于您使用汇好运平台基于互联网，以包含客户端等在内的各种形态（包括未来技术发展出现的新的服务形态）向您提供的各项服务。</p>
    <p class="fontWeight"> 请您仔细阅读本注册协议，特别是免除和限制责任的条款、争议解决条款，如对协议有疑问，可联系汇好运平台【cykjdevelop@163.com】。
      您点击"阅读并同意"按钮后，即表示您已阅读并充分理解本协议的全部内容，与汇好运平台达成一致，成为汇好运的用户，并自愿遵守本协议。</p>
    <p class="fontWeight">
      若我们对本协议进行修改，将通过www. jczh56.com网站公告的方式予以公布,您若不同意应停止使用汇好运的服务，若继续使用，则视为您愿意遵守更新后的协议。
    </p>
  </section>
  <section>
    <h3>第1条 服务条款的确认和接纳</h3>
    <p><span class="fontWeight">1.1汇好运的各项在线服务的所有权和运作权归汇好运平台所有。</span>
      <span>您同意本协议所有条款并完成注册程序，才能成为汇好运平台的正式用户。</span></p>
    <p class="fontWeight">1.2注册成功后，即视为您确认自己具有享受在线委托运输或承运及享受服务等相应的权利能力和行为能力，能够独立承担法律责任。</p>
    <p> <span class="fontWeight">
      1.3汇好运平台保留法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。
    </span>
      <span>
      任何经汇好运平台确认已经违反相关法律法规或本协议或汇好运平台使用规则某一项或多项规定的用户，汇好运平台有权决定是否给予暂停使用或终止使用的处理，且由此造成的一切后果由用户自行承担。
    </span></p>
    <p>
      <span class="fontWeight"> 1.4由于互联网高速发展，您与汇好运平台签署的本协议列明的条款并不能完整罗列并覆盖您与汇好运平台所有权利与义务，现有的约定也不能保证完全符合未来发展的需求。因此，</span>
      <span class="fontWeight">汇好运平台的相应规则均为本协议的补充协议，与本协议不可分割且具有同等法律效力。如您使用汇好运平台服务，视为您同意上述补充协议。</span>
    </p>
  </section>

  <section>
    <h3>第2条 服务内容</h3>
    <p> 汇好运平台通过互联网依法为您提供物流服务，您在完全同意本协议及汇好运平台规定的情况下，方有权使用汇好运平台的相关服务。
    </p>
  </section>

  <section>
    <h3>第3条 账户注册、使用、管理、注销</h3>
    <p>
      3.1您应本着诚信向本站提供注册资料，保证其提供的注册资料真实、准确、完整、合法有效，注册资料如有变动的，应及时更新其注册资料。否则，您需承担因此引起的相应责任及后果，并且汇好运平台保留终止您使用汇好运平台各项服务的权利。</p>
    <p>3.2用户对通过其账户所进行的操作依法享有权利和承担责任，并且账号仅限于用户自身进行使用，不得给予任何第三方使用且不能以任何方式转让、赠与或继承，否则由此造成的损失由用户自行承担，且汇好运平台保留暂停或终止服务的权利。</p>
    <p>3.3
      在完成注册或企业账号认证流程时，您应当按汇好运平台相应页面的提示准确完整地提供并及时更新您的信息，以使之真实、及时，完整和准确。在国家法律法规有明确规定要求汇好运平台作为平台服务提供者必须对用户的信息进行核实的情况下，汇好运平台将依法不时地对您的信息进行检查核实，您应当配合提供最新、真实、完整、有效的信息。</p>
    <p class="fontWeight">
      3.4
      如汇好运平台按您最后一次提供的信息与您联系未果、您未按汇好运平台的要求及时提供信息、您提供的信息存在明显不实或行政司法机关核实您提供的信息无效的，您将承担因此对您自身、他人及汇好运平台造成的全部损失与不利后果。汇好运平台可向您发出询问或要求整改的通知，并要求您进行重新认证，直至中止、终止对您提供部分或全部汇好运平台服务，除法律明确规定外汇好运平台对此不承担责任。</p>
    <p><span>3.5 您应谨慎合理的保存、使用密码，且勿将密码告知他人。</span>
      <span class="fontWeight">>账户因您主动泄露或因您遭受他人攻击、诈骗等行为导致的损失及后果，汇好运平台并不承担责任，您应通过司法、行政等救济途径向侵权行为人追偿。除本平台存在过错外， 您应对您账户项下的所有行为结果（包括但不限于在线签署各类协议、发布委托运输信息、承诺运输报价等）负责。</span>
    </p>
    <p>您遗忘或丢失在汇好运平台注册的密码时，可与汇好运平台客服人员取得联系，在提供相关证明资料并经汇好运平台审核确认后，可找回密码。</p>
    <p>3.6您同意，汇好运平台有权使用您的注册信息、密码等信息，登陆进入您的注册账户，进行证据保全，包括但不限于公证、见证等。</p>
    <p>3.7 本平台为您提供账户注销，您可以通过该注销来注销您的账户。</p>
    <p>
      我们在此善意的提醒您，您注销账户的行为会给您的售后维权带来诸多不便，且注销账户后，您的用户信息我们只会在本平台前台系统中去除，使其保持不可被检索、访问的状态，或对其进行匿名化处理。您知晓，根据法律法规规定，相关交易记录可能须在平台后台保存3年甚至更长时间。</p>
    <p>经汇好运平台确认您的账户同时满足以下条件的，您的账户将被注销：</p>
    <p>（1） 账户无任何纠纷，包括投诉举报和被投诉举报；</p>
    <p>（2） 账户为正常使用中的账户且无任何账户被限制的记录；</p>
    <p>（3） 账户内无未完成的订单、服务；</p>
    <p>（4） 账户已经解除与其他网站、其他APP的授权登录或绑定关系。</p>
    <p>一旦您的帐户注销，您将无法登录、使用本平台账户，您也将无法找回您账户中及与账户相关的任何内容或信息，在您的注册期间的权利也将不复存在。</p>
  </section>

  <section>
    <h3>第4条 用户使用规范</h3>
    <p  class="fontWeight">用户在使用汇好运平台服务过程中应遵守如下义务：</p>
    <p>4.1在使用汇好运平台服务过程中实施的所有行为均须遵守国家法律、法规，不得违背社会公共利益或公共道德，不得损害他人的合法权益，不违反本协议及相关规则。如果违反前述承诺，产生任何法律后果由用户自行承担责任。</p>
    <p>4.2在交易过程中，遵守诚实信用原则，不采取不正当竞争行为，不扰乱汇好运平台服务的正常秩序，不得利用汇好运平台进行非法牟利活动。</p>
    <p>4.3除汇好运平台同意外，不得对汇好运平台上的任何数据进行商业性利用，包括但不限于以复制、传播等任何方式使用汇好运平台网站上展示的信息</p>
    <p>4.4不使用任何装置、软件或例行程序干预或试图干预汇好运平台的正常运作或正在进行的任何交易、活动。</p>
    <p class="fontWeight">若用户未遵守以上规定的，汇好运平台有权作出独立判断并采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任。</p>
  </section>

  <section>
    <h3> 第5条 用户信息的保护及授权</h3>
    <p><span>5.1您声明并保证，您对您所发布的信息拥有相应、合法的权利。否则， </span>
      <span class="fontWeight"> 汇好运平台可对您发布的信息依法或依本协议进行删除或屏蔽。</span></p>
    <p class="fontWeight">5.2您应当确保您所发布的信息不包含以下内容：</p>
    <p class="fontWeight">（1）违反国家法律法规禁止性规定的；</p>
    <p class="fontWeight">（2）政治宣传、封建迷信、淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</p>
    <p class="fontWeight">（3）欺诈、虚假、不准确或存在误导性的；</p>

    <p class="fontWeight">（4）侵犯他人知识产权或涉及第三方商业秘密及其他专有权利的；</p>
    <p class="fontWeight">（5）侮辱、诽谤、恐吓、涉及他人隐私等侵害他人合法权益的；</p>
    <p class="fontWeight">（6）存在可能破坏、篡改、删除、影响汇好运平台任何系统正常运行或未经授权秘密获取汇好运平台及其他用户的数据、个人资料的病毒、木马、爬虫等恶意软件、程序代码的；</p>
    <p class="fontWeight">（7）其他违背社会公共利益或公共道德或依据相关汇好运平台协议、规则的规定不适合在汇好运平台上发布的。</p>
    <p><span>5.2.3为方便您使用汇好运平台其他相关服务，</span>
      <span class="fontWeight"> 您授权汇好运平台将您在账户注册和使用汇好运平台服务过程中提供、形成的信息传递给汇好运平台等其他相关服务提供者，或从汇好运平台等其他相关服务提供者获取您在注册、使用相关服务期间提供、形成的信息。</span>
    </p>

  </section>
  <section>
    <h3>第6条 责任限制及不承诺担保</h3>
    <p class="fontWeight">除非另有明确的书面说明,汇好运平台网站上展示的全部信息、资料、货物和服务，均是在"按现状"和"按现有"的基础上提供的。
      除非另有明确的书面说明,汇好运平台不对网站上的信息、资料、货物和服务作任何形式的、明示或默示的声明或担保（根据中华人民共和国法律另有规定的以外）。
      如因不可抗力或其它无法控制的原因导致网上交易无法完成或丢失有关的信息、记录等，汇好运平台会合理地尽力协助处理善后事宜。</p>

  </section>
  <section>
    <h3>第7条 协议变更</h3>
    <p class="fontWeight">
      7.1根据国家法律法规变化及网站运营需要，汇好运平台有权对本协议条款不时地进行修改，修改后的协议一旦被公布在网站上即生效，并代替原来的协议。如用户不同意更新后的协议，可以且应立即停止使用汇好运平台的服务；如用户继续使用，即视为同意更新后的协议。</p>
    <p>7.2本协议任一条款被视为废止、无效或不可执行，该条应视为可分的且并不影响本协议其余条款的有效性及可执行性。</p>
    <p>7.3用户与汇好运平台基于交易合作签署的其他书面协议与本协议不一致的，以双方书面签署的协议为准。</p>
  </section>

  <section>
    <h3>第8条 法律适用和争议管辖</h3>
    <p>本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。</p>
    <p><span>如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时,</span>
      <span class="fontWeight">任何一方均可向有汇好运平台住所地人民法院提起诉讼。</span></p>
  </section>

  <section>
    <h3>第9条 其他</h3>
    <p>汇好运平台尊重用户合法权利，本协议及汇好运平台上发布的各类规则、声明等其他内容，均是为了更好的、更加便利的为用户提供服务。汇好运平台欢迎用户和社会各界提出意见和建议，对此汇好运平台将虚心接受并适时修改本协议及各类规则。</p>
  </section>

   <div class="button" (click)="read()">我已阅读</div>

</div>
