<form nz-form [formGroup]="validateForm" style="padding:15px 20px 0px 0px">
  <nz-form-item>
    <nz-form-label [nzXs]="2" nzFor="inventoryNo">散货盘库单号</nz-form-label>
    <nz-form-control [nzXs]="4">
      <input type="text" nz-input name="inventoryNo" formControlName="inventoryNo" placeholder="系统生成" disabled="true">
    </nz-form-control>
    <nz-form-label [nzXs]="2" nzRequired nzFor="inventoryTime">散货盘库时间</nz-form-label>
    <nz-form-control [nzXs]="4">
      <nz-date-picker nzShowTime name="inventoryTime" formControlName="inventoryTime" nzFormat="yyyy-MM-dd HH:mm:ss"></nz-date-picker>
      <nz-form-explain *ngIf="validateForm.get('inventoryTime').dirty && validateForm.get('inventoryTime').errors">
        请选择散货盘库时间
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzXs]="2" nzFor="remark">备注</nz-form-label>
    <nz-form-control [nzXs]="10">
      <input nz-input formControlName="remark" id="remark">
    </nz-form-control>
  </nz-form-item>
  <tpl-buttons [formId]="'form_bulk_inventory_add'" [btnDisable]="btnDisable" (btnClick)='btnClick($event)'></tpl-buttons>
  <app-table-form [popTableData]="popTableData" searchParamFiled="stockName" searchListFiled="wsName" [formId]="'form_bulk_inventory_add'"
    [gridId]="'grid1'" (userColumnsEmit)='getUserHeader($event)' [dataSet]="dataSet1" [gridOperate]="{show:true,title:'操作',template:g1}"
    [nzShowPagination]="false" [isCheckBox]="false" [listLoading]="listLoading1" (inpEmit)="inpEmitDetail($event)">
    <ng-template #g1 let-data let-index="index">
      <a (click)="delete(data,index)" a>删除</a>
    </ng-template>
  </app-table-form>
</form>