.ant-steps-small .ant-steps-item-icon {
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  border-radius: 20px;
}
.detail span{
  margin-right: 10px;
}
.detail-div{
  overflow: hidden;
}
.detail p{
  margin: 0;
}
.side{
  display: inline-block;
  width:100px;
  margin:5px 10px;
  float: left;
  height:40px;
}
.left{
  float: left;
}
.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  border-radius: 20px;
  background-color: #fff;
  border: 0.5px solid #094f7b ;
}

