<nz-tabset >
    <nz-tab *ngFor="let tab of tabs;let i = index;"  [nzTitle]='tab.itemCname+tab.itemCount'
            (nzSelect)="select(tab.itemCode)">
      <ng-container>
          <app-searchform [formId]="tab.formId" (search)="listSearch($event)"  ></app-searchform>
          <!-- <tpl-buttons [formId]="tab.formId" [btnHiden]="{'Find':false,'HJ':true,'FG':true,'YL':true,
                            'JT':true,'M':true,'ALL':true}" (btnDataReturn)="btnDataReturn($event)"></tpl-buttons> -->
                            <tpl-buttons [formId]="tab.formId"  ></tpl-buttons>
          <app-table-form
            [formId]="tab.formId" [gridId]="'grid1'"
            [isMutli]="false"
            [dataSet]="dataSet"
            [isCheckBox]="false"
            [listLoading]="listLoading"
            (pageIndexEmit)='getPageIndex1($event)' (pageSizeEmit)='getPageSize1($event)'
            [pageSize]="pageSize1"
            [totalPage]="totalPage"
            [showCount]="false">

            </app-table-form>
      </ng-container>
    </nz-tab>
  </nz-tabset>
