.grid-pad{
    padding-top:30px;
}
.modal-table ::ng-deep .ant-table-wrapper div.ant-table-body{
  min-height: 150px!important;
}
.modal-table ::ng-deep .ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body{
  min-height: 150px!important;
}
