<company-choice [(selectedCompany)]="selectedCompany" (companyChange)="companyChange()"></company-choice>

<common-page (search)="listSearch($event)" (btnAdd)="btnAdd()" (updateDataResult)="selected($event)"
             [pageSize]="pageSize" [totalPage]="totalPage"
             [listLoading]="listLoading" (btnUpdate)="btnUpdate($event)" (btnDelete)="btnDelete($event)"
             [dataSet]="dataSet" [isMutli]="true" (btnClick)="btnclick($event)"
             [extraTableHeight]="permissions ? 52 : 0">

</common-page>

<!--弹出框-->
<nz-modal [(nzVisible)]="modalFormVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
          (nzAfterClose)="closeResult()" [nzMaskClosable]="false">
  <form nz-form [formGroup]="modalValidateForm">
    <nz-form-item *ngFor="let m of FormData">
      <nz-form-label [nzSpan]="6" [nzRequired]="m.require">
        {{m.name}}
      </nz-form-label>

      <nz-form-control [nzSpan]="12">

        <input type="{{m.type}}" *ngIf="m.type == 'text'|| m.type == 'number'" nz-input formControlName="{{m.eName}}"
               [id]="m.eName" autocomplete="off">

        <nz-radio-group [attr.id]="m.eName" *ngIf="m.type == 'radio'" formControlName="{{m.eName}}">
          <label nz-radio nzValue="{{r.value}}" *ngFor="let r of m.radioArr">{{r.name}}</label>
        </nz-radio-group>

        <input-modal *ngIf="m.type == 'popTwo'" [findset]="m.findset" [inputModalModel]="name"
                     [inputModalHiddenValue]="valueId"
                     (inpEmit)='inpEmitTwo($event)' [validate]="m.validate"
                     [showExplainFlag]="showExplainFlag"></input-modal>

        <nz-form-explain *ngIf="modalValidateForm.get(m.eName).dirty && modalValidateForm.get(m.eName).errors">
          <ng-container *ngIf="modalValidateForm.get(m.eName).hasError('required')">
            {{m.validateCon}}
          </ng-container>
          <ng-container *ngIf="modalValidateForm.get(m.eName).hasError('pattern')">
            {{m.validators.patternErr}}
          </ng-container>

        </nz-form-explain>

      </nz-form-control>

    </nz-form-item>

  </form>
</nz-modal>

<!--确认弹窗-->
<app-modal-confirm [deleteVisible]="deleteVisible" [modalTitle]="modalTitle" [modalCon]="deleteCon"
                   (modalConfirmResult)="modalConfirmResult($event)">
</app-modal-confirm>
