.ant-form-explain {
  position: absolute;
  bottom: -20px;
  margin-bottom: 5px;
  left: 0;
}
.p-lr{
  padding: 0 25px;
}
.vehicle-form h5{
  font-size: 15px;
  padding: 10px 0;
  margin-bottom: 0;
}
.vehicle-form h5 i{
  color: #9ac6f0
}
.vehicle-form h5 span{
  display: inline-block;
  padding-left: 10px;
}
.vehicle-form .inline-block{
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.vehicle-form .inline-block nz-form-label, .vehicle-form .inline-block nz-form-control{
  display: inline-block;
  vertical-align: top;
}
.vehicle-form ::ng-deep .ant-upload.ant-upload-select-picture-card{
  width: 50px;
  height: 50px;
}
.vehicle-form ::ng-deep .ant-upload-list-picture-card .ant-upload-list-item{
  width: 50px;
  height: 50px;
  padding: 0;
}
.vehicle-form .form-btn{
  text-align: right;
  padding: 15px;
}
.vehicle-form .form-btn button{
  margin-right: 15px;
} 