<app-searchform (search)="searchList($event)"></app-searchform>
<tpl-buttons (btnClick)="btnClick($event)" ></tpl-buttons>

<app-table-form [nzShowPagination]="true" [listLoading]="listLoading" [dataSet]="dataSet" [pageSize]="pageSize" (updateDataResult)="updatedataResult($event)"
                (pageIndexEmit)='getPageIndex1($event)' (pageSizeEmit)='getPageSize1($event)' (userColumnsEmit)="userColumnsEmit($event)"
                [totalPage]="totalPage"   isMutli="true"  [paginationRef]="totalStats">
  <ng-template #totalStats>
    已选&nbsp;{{updatedata.length}}&nbsp;条&nbsp;总金额:{{totalAmount | number:'1.2-2'}}元 总税额:{{totalInvoiceTax | number:'1.2-2'}}元  合计总金额:{{totalMoney|number:'1.2-2'}} 元
  </ng-template>
</app-table-form>


<ng-template #tplTitle1>
  <span>{{modalTitle}}</span>
</ng-template>
<ng-template #tplContent1>
  <form nz-form [formGroup]="validateForm">
    <nz-form-item *ngFor="let m of modalFormData"  [hidden]="m.hidden">
      <nz-form-label [nzSpan]="6" [nzRequired]="true">
        {{m.name}}
      </nz-form-label>

      <nz-form-control [nzSpan]="12">
        <input type="{{m.type}}" nz-input formControlName="{{m.eName}}" [attr.id]="m.eName" *ngIf="m.type == 'text'" (click)="selectFile()" [readOnly]="m.readOnly">
        <input type="{{m.type}}" nz-input formControlName="{{m.eName}}" [attr.id]="m.eName" *ngIf="m.type == 'file'" #fileInput  (change)="fileChange($event)">
        <nz-form-explain *ngIf="validateForm.get(m.eName).dirty && validateForm.get(m.eName).errors">
          <ng-container *ngIf="validateForm.get(m.eName).hasError('required')">
            {{m.validateCon}}
          </ng-container>
          <ng-container *ngIf="validateForm.get(m.eName).hasError('pattern')">
            {{m.validators.patternErr}}
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
      <nz-form-control [nzSpan]="4" style="margin-left: 20px">
        <a (click)="aClick()">模板下载</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
<ng-template #tplFooter1>
  <button nz-button nzType="default" (click)="handleCancel()" [disabled]="  implistLoading1">取消</button>
  <button nz-button nzType="primary" (click)="importConfirm()" [nzLoading]="implistLoading1" [disabled]="implistLoading1">确定</button>
</ng-template>
<app-modal-confirm [deleteVisible]="deleteVisible" [modalTitle]="'提示信息'" [modalCon]="'确认要删除吗？'"
                   (modalConfirmResult)="modalConfirmResult($event)"></app-modal-confirm>
