<app-searchform  [formId]="formId" (search)="listSearch($event)"></app-searchform>
<tpl-buttons  [formId]="formId" (btnClick)='btnClick($event)'></tpl-buttons>
<div>
  <!--<p>库存信息</p>-->
  <app-table-form  [formId]="formId" [pageFun]='true'
                   (pageIndexEmit)='getPageIndex1($event)'
                   (pageSizeEmit)='getPageSize1($event)' [gridId]="'grid1'"
                   [dataSet]="dataSet1"
                   [pageSize]="pageSize1" [totalPage]="totalPages1"
                   [isMutli]="true"  [listLoading]="listLoading1"></app-table-form>
</div>
