<app-searchform (modelChange)="modelchange($event)" [isClick]="true" (search)="listSearch($event)"></app-searchform>
<tpl-buttons (btnClick)='btnClick($event)'></tpl-buttons>

<div>
  <app-table-form [pageFun]='true' (pageIndexEmit)='getPageIndex1($event)' (pageSizeEmit)='getPageSize1($event)'
                  [gridId]="'grid1'" [dataSet]="dataSet"
                  [pageSize]="pageSize1" [totalPage]="totalPages1"
                  (userColumnsEmit)="userColumnsEmit($event)"
                  [isMutli]="true" [listLoading]="listLoading1"
                  [isCheckBox]="true" [showCount]="true">

  </app-table-form>
</div>
<ng-template #tplTitle>
  <span>{{modalTitle}}</span>
</ng-template>
<ng-template #tplContent>
  <form nz-form [formGroup]="validateForm">
    <nz-form-item *ngFor="let m of modalFormData" [hidden]="m.hidden">
      <nz-form-label [nzSpan]="7" [nzRequired]="true">
        {{m.name}}
      </nz-form-label>


      <nz-form-control [nzSpan]="12">
        <nz-radio-group [attr.id]="m.eName" *ngIf="m.type == 'radio'" [formControlName]="m.eName">
          <label nz-radio [nzValue]="r.value" *ngFor="let r of isInArr">{{r.name}}</label>
        </nz-radio-group>
        <input type="{{m.type}}" nz-input formControlName="{{m.eName}}" [attr.id]="m.eName" *ngIf="m.type == 'text'"
               (click)="selectFile()" [readOnly]="m.readOnly">
        <input type="{{m.type}}" nz-input formControlName="{{m.eName}}" [attr.id]="m.eName" *ngIf="m.type == 'file'"
               #fileInput (change)="fileChange($event)">
        <nz-form-explain *ngIf="validateForm.get(m.eName).dirty && validateForm.get(m.eName).errors">
          <ng-container *ngIf="validateForm.get(m.eName).hasError('required')">
            {{m.validateCon}}
          </ng-container>
          <ng-container *ngIf="validateForm.get(m.eName).hasError('pattern')">
            {{m.validators.patternErr}}
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
      <nz-form-control [nzSpan]="4" style="margin-left:20px">
        <!--<a href=">模板下载</a>-->
      </nz-form-control>

    </nz-form-item>
  </form>
</ng-template>
<ng-template #tplFooter>
  <button nz-button nzType="default" (click)="handleCancel()">取消</button>
  <button nz-button nzType="primary" (click)="importConfirm()"   [nzLoading]="implistLoading" [disabled]="implistLoading">确定</button>
</ng-template>
