    /*时间格式*/
  /*  nz-date-picker, nz-month-picker, nz-range-picker, nz-week-picker {
      margin: 0 8px 12px 0;
    }*/

  ::ng-deep .ant-table-footer {
    background-color: white
  }

  ::ng-deep .ant-table-body {
    height: 540px;
  }